### .Imports

In [2]:
import os
import pandas as pd
import json
import matplotlib.pyplot as plt
import numpy as np
import re
import math
import numpy as np

%pylab inline
pylab.rcParams['figure.figsize'] = (20,12)

Populating the interactive namespace from numpy and matplotlib

### .Constants

In [3]:
DATA_FOLDER = 'data_clean'
IS_DATE = re.compile("^[1-2]{1}[0-9]{3}$")

### .Usefull functions

#### Function to restrict the dataframe to a fix period in term of years

In [4]:
def get_period(df, start=None,end=None):
    columns_to_keep = []
    dates = []
    for elem in df.columns:
        if not IS_DATE.match(elem):
            columns_to_keep.append(elem)
        else:
            dates.append(int(elem))
    if start == None:
        start = np.min(dates)
    if end == None:
        end = np.max(dates)
    
    for date in dates:
        if (date<=end) & (date>=start):
            columns_to_keep.append(str(date))
    
    return df[columns_to_keep]

#### Function to get the age corresponding to the intervales as input

In [5]:
def build_age(intervales):
    ages_total = []
    for i in range(len(intervales)-1):
        ages = []
        ages.append(intervales[i])
        for k in range(int(intervales[i]),int(intervales[i+1])):
            if(k != 1 and k<100):
                ages.append('{} ans'.format(k))
            if(k == 1):
                ages.append('{} an'.format(k))
            if(k==100):
                ages.append('100 ans ou plus')
                break
        ages_total.append(ages)
    return ages_total

#### Function to describe a dataframe

In [6]:
def describeDf(df,name="DESCRIPTION",level=1):
    print("______________________________ " + name+" ______________________________\n")
    date = []
    if(level==1):
        print("\n")
        for col in df.columns:
            if((not IS_DATE.match(col)) & (not re.compile("[0-9]+ an").match(col))):
                print("         ATTRIBUTE: "+col)
                print("   "+str(df[col].unique()))
                print("\n")
            else:
                date.append(col)
        print("         VALUES: "+str(date))
        print("\n\n\n")
    else :
        print(df.columns.values)
        print("\n\n\n")

### .Load Dataframe

In [9]:
print("Dataframes available:\n\n")
for file in os.listdir(DATA_FOLDER):
    filename = os.fsdecode(file)
    tablename = "df_"+os.path.splitext(os.path.splitext(filename)[0])[0]
    globals()[tablename] = pd.read_csv(DATA_FOLDER + '/' + filename)
    try:
        globals()[tablename] = globals()[tablename].drop(columns=['Unnamed: 0'])
    except:
        pass
    describeDf(globals()[tablename], name=tablename,level=0)

Dataframes available:


______________________________ df_Qualite_vie_agglo ______________________________

['agglo_index' 'agglo' 'type_index' 'type' '2011' '2012' '2013' '2014']




______________________________ df_Population_age_1992 ______________________________

['age' 'sexe' '1992' '1993' '1994' '1995' '1996' '1997' '1998' '1999'
 '2000' '2001' '2002' '2003' '2004' '2005' '2006' '2007' '2008' '2009'
 '2010']




______________________________ df_Accident_cantons ______________________________

['canton_index' 'canton' 'gravite_index' 'gravite' 'ruralite_index'
 'ruralite' '1992' '1993' '1994' '1995' '1996' '1997' '1998' '1999' '2000'
 '2001' '2002' '2003' '2004' '2005' '2006' '2007' '2008' '2009' '2010'
 '2011' '2012' '2013' '2014' '2015' '2016' '2017']




______________________________ df_Frais_routes_cantonales ______________________________

['annee' 'canton' 'Total' 'Constructions' 'Amélio-' 'Acquisition'
 'Entretien Construction' 'Entretien Exploitation' 'Administration'
 'Surveillance Policiere']




______________________________ df_Frais_routes_nationales ______________________________

['annee' 'canton' 'Acquisition' 'Administration' 'Améliorations'
 'Constructions' 'Entretien Construction' 'Entretien Exploitation'
 'Surveillance Policiere' 'Total']




______________________________ df_Population_canton_1992 ______________________________

['canton' 'sexe' '1992' '1993' '1994' '1995' '1996' '1997' '1998' '1999'
 '2000' '2001' '2002' '2003' '2004' '2005' '2006' '2007' '2008' '2009'
 '2010']




______________________________ df_Longueur_routes ______________________________

['annee' 'canton' 'Total' 'Routes nationales' 'Routes cantonales'
 'Routes communales']




______________________________ df_Accident_type_route ______________________________

['gravite_index' 'gravite' 'ruralite_index' 'ruralite' 'voie_index' 'voie'
 'vitesse_index' 'vitesse' 'temps_index' 'temps' 'signalisation_index'
 'signalisation' '1992' '1993' '1994' '1995' '1996' '1997' '1998' '1999'
 '2000' '2001' '2002' '2003' '2004' '2005' '2006' '2007' '2008' '2009'
 '2010' '2011' '2012' '2013' '2014' '2015' '2016' '2017']




______________________________ df_proportion_permis ______________________________

['critere' '1994' '2000' '2005' '2010' '2015']




______________________________ df_Population_2010 ______________________________

['annee' 'canton_index' 'canton' 'permanente' 'sexe' 'etat_civil'
 'Age - Total' '0 ans' '1 an' '2 ans' '3 ans' '4 ans' '5 ans' '6 ans'
 '7 ans' '8 ans' '9 ans' '10 ans' '11 ans' '12 ans' '13 ans' '14 ans'
 '15 ans' '16 ans' '17 ans' '18 ans' '19 ans' '20 ans' '21 ans' '22 ans'
 '23 ans' '24 ans' '25 ans' '26 ans' '27 ans' '28 ans' '29 ans' '30 ans'
 '31 ans' '32 ans' '33 ans' '34 ans' '35 ans' '36 ans' '37 ans' '38 ans'
 '39 ans' '40 ans' '41 ans' '42 ans' '43 ans' '44 ans' '45 ans' '46 ans'
 '47 ans' '48 ans' '49 ans' '50 ans' '51 ans' '52 ans' '53 ans' '54 ans'
 '55 ans' '56 ans' '57 ans' '58 ans' '59 ans' '60 ans' '61 ans' '62 ans'
 '63 ans' '64 ans' '65 ans' '66 ans' '67 ans' '68 ans' '69 ans' '70 ans'
 '71 ans' '72 ans' '73 ans' '74 ans' '75 ans' '76 ans' '77 ans' '78 ans'
 '79 ans' '80 ans' '81 ans' '82 ans' '83 ans' '84 ans' '85 ans' '86 ans'
 '87 ans' '88 ans' '89 ans' '90 ans' '91 ans' '92 ans' '93 ans' '94 ans'
 '95 ans' '96 ans' '97 ans' '98 ans' '99 ans' '100 ans ou plus']




______________________________ df_Accident_circonstances ______________________________

['mois_index' 'mois' 'day_index' 'day' 'hours_index' 'hours'
 'gravite_index' 'gravite' 'ruralite_index' 'ruralite' 'contexte_index'
 'contexte' 'circonstance_index' 'circonstance' '1992' '1993' '1994'
 '1995' '1996' '1997' '1998' '1999' '2000' '2001' '2002' '2003' '2004'
 '2005' '2006' '2007' '2008' '2009' '2010' '2011' '2012' '2013' '2014'
 '2015' '2016' '2017']




______________________________ df_Recettes_routes ______________________________

['annee' 'canton' 'Total' 'Total contributions' 'Total taxes']




______________________________ df_Besoin_sante ______________________________

['annee' 'canton' 'Total' 'Soins hopitaux' 'Soins domicile'
 'Administration Prevention' 'besoin_par_habitant']




______________________________ df_Accident_objets ______________________________

['voiture_index' 'voiture' 'age_index' 'age' 'sexe_index' 'sexe'
 'annee_permis_index' 'annee_permis' 'faute_index' 'faute' 'gravite_index'
 'gravite' '1992' '1993' '1994' '1995' '1996' '1997' '1998' '1999' '2000'
 '2001' '2002' '2003' '2004' '2005' '2006' '2007' '2008' '2009' '2010'
 '2011' '2012' '2013' '2014' '2015' '2016' '2017']




______________________________ df_Voitures ______________________________

['canton_index' 'canton' 'carosserie_index' 'carosserie' 'carburant_index'
 'carburant' 'cylindre_index' 'cylindre' 'traction_index' 'traction'
 'boite_index' 'boite' '1990' '1991' '1992' '1993' '1994' '1995' '1996'
 '1997' '1998' '1999' '2000' '2001' '2002' '2003' '2004' '2005' '2006'
 '2007' '2008' '2009' '2010' '2011' '2012' '2013' '2014' '2015' '2016'
 '2017']




______________________________ df_Frais_routes_communales ______________________________

['annee' 'canton' 'Total' 'Constructions' 'Améliorations' 'Acquisition'
 'Entretien Construction' 'Entretien Exploitation' 'Administration'
 'Surveillance Policiere' 'Depense_habitants']




______________________________ df_Accident_victimes ______________________________

['voiture_index' 'voiture' 'sexe_index' 'sexe' 'role_index' 'role'
 'age_index' 'age' 'consequence_index' 'consequence' '1992' '1993' '1994'
 '1995' '1996' '1997' '1998' '1999' '2000' '2001' '2002' '2003' '2004'
 '2005' '2006' '2007' '2008' '2009' '2010' '2011' '2012' '2013' '2014'
 '2015' '2016' '2017']

In [10]:
describeDf(df_Frais_routes_cantonales)

______________________________ DESCRIPTION ______________________________



         ATTRIBUTE: annee
   [1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007
 2008 2009 2010 2011 2012 2013 2014 2015]


         ATTRIBUTE: canton
   ['Appenzell Rh.-Ext.' 'Appenzell Rh.-Int.' 'Argovie' 'Berne'
 'Bâle-Campagne' 'Bâle-Ville' 'Espace Mittelland' 'Fribourg' 'Genève'
 'Glaris' 'Grisons' 'Jura' 'Lucerne' 'Neuchâtel' 'Nidwald' 'Obwald'
 'Région lémanique' 'Schaffhouse' 'Schwytz' 'Soleure' 'St. Gall'
 'Suisse centrale' 'Suisse du Nord-Ouest' 'Tessin' 'Thurgovie' 'Total'
 'Uri' 'Valais' 'Vaud' 'Zentralschweiz' 'Zoug' 'Zurich']


         ATTRIBUTE: Total
   [  31374.    4206.  100621.  169980.   88815.   99176.  392484.   50551.
   63226.   14798.  195564.   22143.   66472.  107991.    7941.    4959.
  323508.    7701.   27276.   41819.   81012.  391618.  288612.  218586.
   56963. 1907803.   38102.  139031.  121251.  176670.   31920.  116326.
   32061.    4552.   94320.  183385.  107226.   98615.  342643.   51685.
   43253.   17334.  189012.   22076.   71492.   48424.   13766.    5265.
  309159.    8729.   31742.   37073.   72173.  381360.  300161.  266582.
   57499. 1900016.   29100.  111767.  154139.  179790.   28425.  120323.
   26539.    5106.   97039.  185696.   83269.   81465.  348496.   51414.
   43649.   21363.  189726.   24783.   65760.   44968.    9853.    5059.
  267638.   11088.   35860.   41635.   87869.  397369.  261773.  187645.
   55678. 1773413.   26989.  109358.  114631.  169812.   26291.  140678.
   28341.    5446.   89805.  184991.  104127.   73249.  358317.   54027.
   45213.   11416.  198272.   24712.   58871.   45406.    9371.    5175.
  264935.   11002.   34770.   49181.   79203.  395751.  267181.  162079.
   62071. 1765068.   24810.  120780.   98942.  159992.   26995.  156813.
   28004.    5510.   79562.  177401.  127188.   72533.  361763.   55291.
   49309.   10523.  201385.   25165.   61710.   60856.   10076.    3636.
  262478.   12719.   35532.   43050.   96392.  425880.  279283.  148645.
   71347. 1800012.   24224.  116149.   97020.  165460.   30282.  156503.
   32556.    7114.  132011.  216682.  108092.   83096.  394499.   54095.
   45140.   11100.  227804.   20828.   69108.   64967.   12405.    4619.
  318416.   14346.   35720.   37927.  133937.  490948.  323199.  148886.
   64091. 2039943.   25788.  164694.  108582.  183388.   35748.  180607.
   33320.    4911.  138273.  191277.  121808.  108885.  375080.   53554.
   51135.   14570.  219633.   23157.   81149.   68784.    9827.    3987.
  312950.   13855.   36786.   38308.  121824.  455963.  368966.  127747.
   47850. 2034622.   23604.  155644.  106171.  197294.   41941.  196619.
   33389.    6485.  153341.  194172.  117538.  117988.  381503.   57178.
   51033.   16036.  217960.   31020.   82298.   49628.    9638.    5668.
  324342.   14675.   35203.   49505.  118214.  463938.  388867.  150222.
   57179. 2103511.   18626.  171240.  102069.  180880.   29447.  213759.
   39148.    9481.  130753.  178092.  118726.  100953.  361027.   52664.
   55602.   12777.  228295.   28670.   86350.   44325.   10610.    3912.
  306733.   15974.   40561.   57276.  124167.  481696.  350432.  136254.
   51854. 2043889.   17836.  155606.   95525.  193460.   34191.  214286.
   29517.    5568.  130059.  220351.  137895.   97051.  424011.   64148.
   65302.   12280.  236919.   22500.   83774.   44969.   12265.    6774.
  321558.   22140.   49605.   72043.  139484.  501868.  365005.  134495.
   55960. 2166955.   29269.  168658.   87598.  219413.   37726.  200606.
   38554.    7247.  159071.  215610.  117639.   85337.  435801.   70455.
   60277.    9159.  238625.   21516.   86448.   56314.   11433.    4647.
  311846.   20298.   52210.   71906.  118558.  497040.  362047.  131887.
   64599. 2157926.   18461.  168667.   82902.  214581.   41382.  204724.
   35096.    6222.  187222.  263133.  109584.  104750.  516834.   86512.
   61630.    9796.  232208.   23207.   86796.   55266.   12646.   18148.
  322127.   16103.   48347.   88716.  109361.  474519.  401556.  135414.
   65733. 2342592.   23594.  177778.   82719.  233422.   43891.  258720.
   38334.    7414.  183574.  222887.  107476.  128863.  507154.   89207.
   66572.   10999.  212318.   22264.   90476.   56643.   11260.    9710.
  329324.   22351.   41590.  116153.   96691.  453218.  419913.  146846.
   65111. 2371421.   23124.  186605.   76147.  221132.   44972.  293833.
   34612.    7115.  182604.  222062.  105064.  115341.  566284.  117915.
   66961.   11427.  189665.   24767.  110651.   56959.   10792.    9835.
  341401.   32157.   42603.  144581.   89558.  440497.  403009.  145878.
   75963. 2374502.   23125.  199946.   74494.  246584.   49578.  230849.
   39967.    8350.  206100.  267976.  119497.  123517.  631918.  138870.
   72204.   11679.  219812.   22392.  107965.   48793.   11230.    8065.
  362575.   28999.   51965.  153887.   95674.  477043.  449114.  166115.
   72562. 2605364.   24036.  204643.   85728.  270160.   66899.  248439.
   39067.   10183.  202830.  314367.  141767.  130179.  616707.  102132.
   90725.   10502.  233669.   24280.  108485.   42297.   10246.    6340.
  397699.   22112.   60375.  133631.   94822.  482448.  474776.  178847.
   72093. 2689912.   25711.  214042.   92932.  279913.   68756.  259522.
   40171.    7978.  204488.  302162.  144648.  130472.  614467.  105712.
   98683.   14851.  250616.   25743.  120668.   43997.   11039.    5751.
  431039.   23042.   72164.  136853.  102780.  509093.  479608.  165393.
   69655. 2757901.   25008.  218801.  113555.  298031.   63401.  260272.
   38721.    9713.  185376.  308570.  159995.  121857.  625185.  103290.
  117753.   15602.  247126.   34267.  117810.   51072.   11625.    5944.
  454651.   36054.   63492.  127986.  109549.  541484.  467228.  166988.
   84719. 2817573.   28363.  192463.  144435.  286693.   59459.  275346.
   38002.    8680.  181995.  297352.  182742.  130143.  587794.  105285.
  108432.   15892.  263727.   25926.  100235.   46017.   11610.    6417.
  441240.   28532.   81093.  113214.  112486.  566702.  494880.  161297.
   99383. 2834254.   31355.  196995.  135813.  295587.   64877.  286755.
   34604.    7887.  182347.  272681.  185109.  132824.  563148.  104505.
  132368.   15604.  285380.   28779.  114061.   51807.   13529.    7621.
  457152.   24150.   75888.  105376.  124627.  586145.  500280.  138814.
   93893. 2851000.   24513.  186896.  137888.  299036.   63424.  306425.
   32271.    9155.  200745.  285433.  125827.  148329.  543918.   98994.
   89857.   15192.  276545.   25863.  137871.   47864.   14280.    7748.
  400658.   21405.   93663.   85765.  128344.  566743.  474901.  141610.
   83830. 2797788.   28722.  179944.  130857.  347134.   64850.  322824.
   37486.    6007.  234717.  303208.  124665.  142469.  551472.   95394.
   86045.   15643.  280701.   22870.  125335.   43216.   17065.    9375.
  413843.   17234.   84383.   86783.  138626.  565297.  501851.  161444.
   69599. 2844952.   23888.  168324.  159474.  314060.   54015.  336984.]


         ATTRIBUTE: Constructions
   [     0    488  15640   3880    187    252  83318   5560   5440      9
  28694   6588  67259   1352  23686    103   3177     31  30635  16079
   1341 167137  18246  12239   7710   1178    283  14298   2478    270
  27104   5211   1614   5460  13927  25110     93     28   1378  14568
   1002  80894  23496   6525   6207    387   9479   7275    253  22228
    348     41   7540   7413  21948     64  12360   9732  11868  73253
  21600   2790   4197    718   3802   5829  42772    259  28895   3316
     91   8636  11114     48  10480  16899  46833  58766  16181 177835
  10389   2100   2052  13862    508    775   4441   9569  60114   1347
  41334   2765     22   8480  20520   9386     76  18025  40402  65902
  59640  21018 231201    118   9364   1240   1122  13297   1576    538
  25330  24245  37855   3232  55018    697    202   1553   3408   1061
  24406    156    471  11766    433    308    481  45308  65516  66417
  79664  15906 304676    346    899  10170   3364   1022  22933    771
    179  35716  28383  35781  27147  50411   1464   4118  17815   1790
  18765    171  16696     45    287  34497  63612  98644  35933   6187
 289444    486   3817   2873  20331    830    330  35111  11249  41605
  24354  21619   6563    200   5765  18773    -10    872   3256    117
  15811    199    561  43683  76421 101070  37654   7040 266110  15611
   1955    777  11580   1843   3066  25414   8999  47042   6905  15580
   3997   1700   1423  19607     61    393    591   8071   1170   2130
  43403  74158  79361  29709   4816 214677   6371   4584   2823   3215
    720    261  22771   8852  54910   6010  25152   7893   2989     81
  11905    264   1998    331  27947   1137   6409  56601  77633  83691
  33157   8065 255524    883  22629   2329   4879   2264    552  14442
   2653  40484   3198  13763  10176   2563  47993    494     15    215
    435   4908   1511    225  49627 109293  58124  36592  10950 232257
    542   2345   4475   1972   5101     53  25352    670  34507  11096
  39034  30178   2739      2  42003    475    -73    448   4426   1342
   7784  21184  72379  70955  51171   9137 266491     12   1687   2362
    560  26162    111     86  23853  16753  39614   7326  67275  12734
   3238  21886    574    286     90   4655     17   1750  36961   9159
  35190  70793  46905   3931 257463   1417   3590    920  29056    597
  16553  19179  32894  13029  73443  10386   2858   8117     16    518
     36      4   3803     10   1542  43862   7303  23445  62476  58085
   7418 254693    570    945  16081  13411  17363    335  37327  21024
  41223  11064  81432  12719   4153  12872    666    650    265     33
   8919      5   1087  46758   3262  19806  89614  65486   3332 308457
    388   4766  30301  28127  12900    206    341  27559  23739  60373
   6692  70253   7808   3424  19207    303    809     97      8   5332
     23   2663  38403   3403  29974  94624  66956   6794 300148    704
   1908  26398  22117   6612    411  21717  14851  72344   4179  76856
   9183    620  12895    960   1134     70  11589    406  51635   4540
  21433  98240  64192   3181 299059    818  10969  20963  14640   5786
     14    300   6399  13374  59164   4269  91411  28726  24450    921
   6270    290   1279     92  50054   3568  48032  11076  24341  69832
  68130   5760 320953    362  25604  11060   6748   6124     30    185
   7373  15937  86220   4836  66325  22323  37955   2132  11918    170
   2003    275  78627   4819   2357  26062   6746  41145  98429  48728
  15315 360447    151  24896  15776  21682  18729   5511    112  10363
  13615  83775   4581  90949  43617  39220   1857  14421    350  12829
    410  74972   3659   4539  20866  22748  55696  98719  29958  12854
 391709  25026  10726  21265  15827  20150   1313  11079  37517  34159
   5973  69275  17487  15932    391  13922    512   7071     24     29
  43911   4772  13944   7170  32095  60052  51211  33901   7545 309948
    238  25789   2190  28622  13876  22975    485   8119  36937  18628
   6896  68887  25461  12838   6871      7   1951  39014    332  19193
   4531  36616  47290  33643  29956   2895 268687    120  15329  10847
  27237   7848  22661]


         ATTRIBUTE: Amélio-
   [ 16298    931  45561  51216  45672  35097  90135  12256  10623   5006
  67546   2026  21500   4049    871    687  87082   1056  10315  20588
  39137 157066 126330 135276  27092 678401  19245  55817  20642  56747
   4129  25769  16748   1318  42080  33921  65347  32580  65743  12497
   5125   6748  97759   1550  30889   2037   5274    584  74978    435
  15003  15738  24503 171754 140007 155876  24243 702294  12517  25015
  44838  72945   8678  20989  11901   1913  45310  48599  42785  19753
  93133  18736   5536   8718  95990   1578  17585   6299   1151    376
  47118   1792  19830  17921  36535 173871 107848 121590  17022 625126
  11051  31767   9815  59814   9821  21751  15279   2055  42188  48308
  17697  10838  93365  15412   8425   3181 101234   1435  18183   3544
   1645    836  63659   1817  18671  24666  31635 175857  70723  43404
  20656 523741   9841  39794  15440  59696  10520  17035  14452   1640
  42058  53669  20639  10391  99550  16944   8854   2617 107183   1532
  16126   7597   2135    125  61151   3082  19254  19808  28664 184443
  73088  40340  26805 537791   7681  38040  14257  59595  14274  19624
  16893   3045  68990  93087  22611  13987 136132  14104   6056   1695
 119810   4911  25689  10644   3683     63  95044   2294  16847  13386
  28901 194705 105588  19125  22067 647712   8653  71058  17930  74291
  19356  22824  17620   1761  68407  68775  26621   9224 122180  16356
  10756   1458  96390   4956  36913  17619   1786    104 105020   1457
  18153  14474  31116 169657 104252  45970  19855 645960   8172  79091
  15173  80868  15740  18012  10367   3299  67027  62415  25999  18188
 122532  13730  11643   1916  94868  10643  27856  15165    490   1243
 105722   2096  15435  20579  24486 151248 111214  59681  14216 660066
   4581  81803  12276  59465   9860  50204  20382   3604  48078  40180
  21827  16318  90141   8642  11101   1998  98927   9844  25378  10240
   1070    262  91460   1923  14904  21235  22227 159959  86223  56106
  10898 570242   3353  67756  12603  51126   6159  35226  11838   2102
  40681  64378  25851  17014 120444  13243  12362   4021 110196   6543
  20486  11459   1197   1796  70413   6668  17229  24821  16397 161196
  83546  50636   9974 576991  12105  50100   7951  59054   6241  31703
  20573   3166  76833  59222  24597  11704 128389  17881  10355   1398
  82443   2266  26169  20322   1045    527  82050   5483  20806  28698
  13122 142510 113134  41256  16325 606930   2333  64491   7204  61888
  11008  37704  16025   2557  85959  59107  23317  27309 130379   9529
   6434   2287  72638   3665  25668  22528   2380  10153  85127   1935
  17907  35550  20092 128727 136585  33879  13193 637040   6418  71644
   7049  74269  11743  48074  20791   3502  71221  49228  20457  53662
 137177  26920   8802   3629  68130   2895  28067  24754   1620   5084
  97662   7106  11886  33380  24241 140910 145340  36853  13511 691843
   7956  77458  11402  69748  15135  64154  17900   2962  80329  50389
  22158  27183 177367  54615   3915   3888  51007   5980  43710  26725
   1542   5545 104921  17386  12332  39658  19471 131039 129670  36907
  18425 682975   7653  91827   9179  80405   9623  22665  20130   3516
  91506  54585  27787  35985 177529  69795   6288   3925  64170   3457
  45051  16190   1456   3894  92691  13443  19299  33502  23051 154298
 155278  44049  26063 762790   8301  80824   5579  90375  12374  48571
  17523  89013  63097  30274  29916 147638  32470   1795   1650  60949
   5743  43667   7993    289 110378   5393  22231  38335  24929 136614
 149203  47561  21086 732118   6162  92941  15642  87988  14182  52736
  18296   3367  95444  43462  16139  27759 128319  38783   9349   4374
  65271   5232  48522   9980   1467    522 128964   5710  29450  30862
  26284 137756 139342  40607  14454 733159   4217  99534  20081 103231
  19053  54940  18023   5588  87332  39631  42587  23191 104880  16272
   2490   3153  72021   6879  43937  13892   1802    613 116046  18653
  18877  28206  30354 173059 153110  41927  25267 735612   4820  78455
  35101  90555  20506  56034  16929   4099  84021  45057  35532  24727
 118080  25880   1655   2737  63061   3601  27136  10549   1143   1027
  81316   6416  36212  32993  31762 150560 144280  47628  25556 690163
   6426  40738  38923  79362   7418  68939  13917   3839  69522  50878
  37483  29420 101045   5885  18479   2739  76767   6092  33329   7786
   1677   1162  96769   3662  36091  30404  25731 155100 136425  46237
  28445 672721   4411  37389  40901  81781   5111  55364  15455   3904
  95426  56653  27938  45775 121162  26515  13640   4596  75700   3594
  64978   7110   3621   1872  98469    420  42133  27290  18620 145070
 169139  44301  26375 772440   8842  37893  46936 129737   8292  64561
  19493   1789 123036  63120  46854  28618 118649  13427  11822   5612
  95649   2901  55109   7707   4967    495 112342   1558  30931  31494
  25601 172064 198508  54816  22362 837392   4469  37699  62821 105557
   9586  75455]


         ATTRIBUTE: Acquisition
   [  -46     0  4110   382   587  4942   643   779    63  4472  1071  7735
  2219   106  7795   -17   281  1009  1908  7573  5079 13108  1193 50909
    66  3499  3517  8391   203  4021  1192  -776   692    86  3239   841
   270     6  3044   898  4221   840   249   105  8524   -32   963   660
  1292  6060     2 47349   558 73414   142  6670  1584  5730    50  2510
   402    27 -2329   775   147  2113   140   154    53  4428   756  6091
   446   166 10097   -73   224   771  1839  7102 -1407  6974   426 35263
   355  6505  3438  6883    47  3500   800  2277  1210   189   931   345
   465    24  2364   113  1795   136    29    18 10735     3   316   337
  6309  9858  3676  5513   358 39131   369  9919   351  2709   182  5709
 -1124  2669   219  3323  1162  1019   311  2311    72  2500  2123    13
  8361    19   188   -34  6890 10110  1764  2365  -206 33204   119  6759
   583  3103   143  4178  1062    57  1907  2515   157  1647   863   191
    89  3137    33  1926   790    64 10764    12    83   -39 11480 18111
  4579  3092  2274 44619    26  8856  1717  2272   173  4154   536  -892
 12840   285  2406   251   778   977  2501  4350  2091   124  2932   -14
    35  6126 10040 12233  2208  -150 38766    85  1583   571  4690   118
  4257   595    74    -4  1815   317   563    42    94   120  2243   356
  2852   165  5569   -49     1  3477  7138  2128  3353   678 28665  5286
  4406  1368  5508  1045    59 -1889  1840   121  2218  1446   109   520
  1728   104  2670   668  2317    45  2831  6808  6432   580 33258  1748
   460  6653  3859  8762  1200   399 -2337  1701    82  5953  1689  2029
    38  1566   360    75    21  4527    17  3866  5281 10280  -554  1248
  1295 30034  3109  1271  5751  4024  2828   357   146 -2960  1437   308
  6409  2065    11  1188  2494  2430  9946    46  1872  2433  4663 -1215
  1856   374 34155    56  8522  1413  7907  5280  4588  1044    79   934
    71  7155  1920    15  1488   218  2478   167    58  4929    20  4850
  2056  6605  2820  3572  1903 38279  4288   603  6988  6209   573   149
   403   380  5997   782    97    14  1135  2937   568  3230   122  4597
  2121  7261   854  8431  3147 29721  2643   490  3488   481    51  3659
   596    48 20907   163  1820   175  5219   116    60  4849    40 18780
  2456  4303  3694  -135 43480  3799   914  6138   732  1132  1801   232
   588  1676 28519   559    32  1110  5023   198    55    28 13038 27679
  3243  6934  2265 -1360   419 58094 12912   123  5926   787  2770  1047
    84  1774  1220    22  9140  1096  1268  4660   132   131  5420     8
  7806  1359  5245  3016  2930  1447 36460  1242  8121  3246  2588  1004
    73   853   457     5   241  1338  4738     9  6529     7  -384  2460
 10586  1315   581  5704 27417  4388  2136  5626  2539   767    88  1305
   309    23   -33   151    37  4475   137  2352   185  2423 10983  1637
  -686  6694 26348    99  1156  8106  3384  3768   650  2052   486   890
   842  1370   115  1596  1314    49  4034    -7  2673 16244  2538  3746
 11187 33251   652  2635  2871   847  2928   336    70  3622   310   672
  1216  2464    92  8724   728  7093  -636  2951 13192  3932  -168  7234
 43299   212  6495   240 14119  4437  4460   649  4641   661  1677  1412
   -47  2411    95  3441   111  5490    61   156  6929 15334  5307  1407
  5332 36639   703  4947   470  5422  1140  2003   574 10194  1564  1130
  4252  1560  2789    77   560  6473   329  4244  6043 11758  1127  -441
 32411  1458   763  3626  2254]


         ATTRIBUTE: Entretien Construction
   [  2796    265   7290  34188  11671   8493  44935   3347   4206   1608
  29473   1664   3965   4227   1221    826  30172    323   2228   1509

## A. Test on the dataset

In this section, unknown values were not excluded to avoid asymetric operations on different datasets.

In [13]:
reg = re.compile('201[1-7]')

#test dataset with cantons
df_acc_cantons = df_Accident_cantons

#only taking years from 2010 to 2017
toDrop = []
for elem in df_acc_cantons.columns:
    if reg.match(elem):
        toDrop.append(elem)
df_acc_cantons = df_acc_cantons.drop(columns=toDrop)

#aggregate groups by gravite 
acc_cantons = df_acc_cantons.groupby(['gravite']).sum().sort_values(['2010'], ascending=False)\
            [[col for col in df_acc_cantons.columns if IS_DATE.match(col)]]
display(acc_cantons)

,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
gravite,,,,,,,,,,,,,,,,,,,
Accidents avec blessés légers,15755.0,15933.0,16967.0,16409.0,15504.0,16084.0,16207.0,17311.0,17754.0,17942.0,17866.0,18168.0,17501.0,16719.0,16543.0,16790.0,16034.0,15834.0,15214.0
Accidents avec blessés graves,6769.0,6258.0,5923.0,5981.0,5512.0,5438.0,5475.0,5574.0,5428.0,5458.0,5305.0,5173.0,4912.0,4614.0,4608.0,4760.0,4366.0,4337.0,4082.0
Accidents mortels,748.0,661.0,637.0,640.0,562.0,553.0,550.0,549.0,555.0,496.0,476.0,499.0,478.0,373.0,340.0,361.0,336.0,335.0,313.0

In [14]:
#test dataset with circonstances
df_acc_circo = df_Accident_circonstances

#only taking years from 2010 to 2017
toDrop = []
for elem in df_acc_circo.columns:
    if reg.match(elem):
        toDrop.append(elem)
df_acc_circo = df_acc_circo.drop(columns=toDrop)

#aggregate groups by gravite
acc_circo = df_acc_circo.groupby(['gravite']).sum().sort_values(['2010'], ascending=False)\
            [[col for col in df_acc_circo.columns if IS_DATE.match(col)]]
display(acc_circo)

,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
gravite,,,,,,,,,,,,,,,,,,,
Accidents avec blessés légers,11423.0,11618.0,12649.0,12012.0,11459.0,11935.0,11848.0,12436.0,12959.0,12809.0,13064.0,13139.0,12573.0,12153.0,12049.0,12303.0,11604.0,11380.0,10605.0
Accidents avec blessés graves,4673.0,4261.0,4046.0,4065.0,3695.0,3634.0,3570.0,3661.0,3554.0,3557.0,3438.0,3205.0,2995.0,2940.0,2912.0,3068.0,2762.0,2747.0,2460.0
Accidents mortels,402.0,377.0,377.0,361.0,304.0,302.0,311.0,287.0,316.0,266.0,229.0,272.0,271.0,191.0,192.0,184.0,189.0,191.0,174.0

In [15]:
#test dataset with route type
df_acc_routeType = df_Accident_type_route

#only taking years from 2010 to 2017
toDrop = []
for elem in df_acc_routeType.columns:
    if reg.match(elem):
        toDrop.append(elem)
df_acc_routeType = df_acc_routeType.drop(columns=toDrop)

#aggregate groups by gravite
acc_routeType = df_acc_routeType.groupby(['gravite']).sum().sort_values(['2010'],ascending=False)\
            [[col for col in df_acc_routeType.columns if IS_DATE.match(col)]]
display(acc_routeType)

,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
gravite,,,,,,,,,,,,,,,,,,,
Accidents avec blessés légers,15755.0,15933.0,16967.0,16409.0,15504.0,16084.0,16207.0,17311.0,17754.0,17942.0,17866.0,18168.0,17501.0,16719.0,16543.0,16790.0,16034.0,15834.0,15214.0
Accidents avec blessés graves,6769.0,6258.0,5923.0,5981.0,5512.0,5438.0,5475.0,5574.0,5428.0,5458.0,5305.0,5173.0,4912.0,4614.0,4608.0,4760.0,4366.0,4337.0,4082.0
Accidents mortels,748.0,661.0,637.0,640.0,562.0,553.0,550.0,549.0,555.0,496.0,476.0,499.0,478.0,373.0,340.0,361.0,336.0,335.0,313.0

In [16]:
#test dataset with objects
df_acc_objet = df_Accident_objets

#only taking years from 2010 to 2017
toDrop = []
for elem in df_acc_objet.columns:
    if reg.match(elem):
        toDrop.append(elem)
df_acc_objet = df_acc_objet.drop(columns=toDrop)

#aggregate groups by gravite 
acc_objet = df_acc_objet.groupby(['gravite']).sum().sort_values(['2010'],ascending=False)\
            [[col for col in df_acc_objet.columns if IS_DATE.match(col)]]
display(acc_objet)

,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
gravite,,,,,,,,,,,,,,,,,,,
Accidents avec blessés légers,30149.0,30651.0,33047.0,32067.0,30310.0,31510.0,31686.0,33859.0,34625.0,34814.0,34744.0,35115.0,33672.0,32494.0,32033.0,32442.0,30692.0,30474.0,29117.0
Accidents avec blessés graves,12519.0,11472.0,10803.0,11013.0,10037.0,9966.0,9987.0,10259.0,9868.0,9914.0,9513.0,9156.0,8693.0,8236.0,8264.0,8466.0,7745.0,7685.0,7165.0
Accidents mortels,1321.0,1232.0,1163.0,1135.0,1009.0,972.0,1015.0,996.0,1008.0,902.0,842.0,945.0,860.0,637.0,627.0,627.0,624.0,583.0,564.0

> We know that in 2017, there were 17'799 accidents causing body injuries in Switzerland. Therefore, it means that cantons and routeType datasets are correct! 
However, the dataset of circomstances is lacking of values (missing ~1/2) and the one about objects is containing too much (round 2 times more accidents). **This might be explained by the fact that multiple objects are involved in one accident.**

In [19]:
#aggregate objets dataset in groups by vehicle type
acc_objet = df_acc_objet.groupby(['voiture']).sum().sort_values(['2010'],ascending=False)\
            [[col for col in df_acc_objet.columns if IS_DATE.match(col)]]
display(acc_objet)

,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
voiture,,,,,,,,,,,,,,,,,,,
Voiture de tourisme,27180.0,26961.0,28208.0,28134.0,26318.0,26636.0,27603.0,29248.0,29617.0,29919.0,29466.0,29087.0,27639.0,26246.0,25701.0,25958.0,24392.0,23912.0,22889.0
Cycle,3520.0,3593.0,3900.0,3637.0,3586.0,3869.0,3510.0,3546.0,3503.0,3358.0,3394.0,3579.0,3390.0,3373.0,3417.0,3513.0,3473.0,3558.0,3373.0
Piéton,3157.0,3052.0,2993.0,3165.0,2913.0,2888.0,2905.0,3043.0,3003.0,2808.0,2769.0,2645.0,2634.0,2514.0,2653.0,2679.0,2526.0,2635.0,2648.0
Motocycle de plus de 125 cm3,2068.0,2066.0,2071.0,1950.0,1686.0,1896.0,1640.0,1768.0,1801.0,1856.0,1832.0,2302.0,2268.0,2290.0,2239.0,2422.0,2134.0,2376.0,2182.0
Véhicule de transport de choses,2440.0,2391.0,2408.0,2516.0,2271.0,2270.0,2314.0,2588.0,2545.0,2473.0,2411.0,2406.0,2279.0,2285.0,2403.0,2313.0,2091.0,2033.0,2049.0
Motocycle jusqu'à 125 cm3,1999.0,1887.0,1855.0,1635.0,1567.0,1748.0,1620.0,1582.0,1621.0,1694.0,1605.0,1664.0,1921.0,1857.0,1985.0,2014.0,1965.0,1975.0,1553.0
Motocycle léger,270.0,276.0,272.0,259.0,267.0,361.0,560.0,802.0,1088.0,1266.0,1505.0,1430.0,1097.0,888.0,746.0,742.0,690.0,531.0,622.0
Cyclomoteur,2239.0,2001.0,2162.0,1867.0,1740.0,1721.0,1546.0,1475.0,1347.0,1225.0,1165.0,1038.0,962.0,858.0,781.0,851.0,784.0,698.0,616.0
Autre et inconnu,552.0,536.0,611.0,483.0,502.0,528.0,459.0,528.0,479.0,529.0,461.0,486.0,453.0,497.0,456.0,540.0,539.0,510.0,454.0
Véhicule de transport de personnes,461.0,474.0,441.0,464.0,410.0,420.0,407.0,416.0,387.0,356.0,341.0,363.0,392.0,383.0,372.0,367.0,335.0,379.0,346.0
Autre véhicule non motorisé,103.0,118.0,92.0,105.0,96.0,111.0,124.0,118.0,110.0,146.0,150.0,216.0,190.0,176.0,171.0,136.0,132.0,135.0,114.0

> In previous table, we can see that in 2017, more cars were involved in accidents than the total number of accidents (18981>17799). This illustrates that many vehicles are implied in accidents.

In [22]:
totCrash=sum(acc_cantons['2010'])
totObjects = sum(acc_objet['2010'])
objetPerCrash = totObjects/totCrash

print('In average, a crash was involving %.2f objects in 2017.' % objetPerCrash)

In average, a crash was involving 1.88 objects in 2017.

Now let's study the case of circonstances dataset:

In [23]:
#aggregate groups by circonstances
acc_circo = df_acc_circo.groupby(['circonstance']).sum().sort_values(['2010'], ascending=False)\
            [[col for col in df_acc_circo.columns if IS_DATE.match(col)]]
display(acc_circo)

,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
circonstance,,,,,,,,,,,,,,,,,,,
Autre facteur d'influence,15441.0,15291.0,16094.0,15570.0,14649.0,15051.0,14853.0,15445.0,15954.0,15776.0,15852.0,15813.0,15058.0,14469.0,14219.0,14711.0,13709.0,13528.0,12446.0
Alcool,980.0,894.0,896.0,787.0,731.0,735.0,798.0,861.0,787.0,763.0,778.0,705.0,654.0,672.0,805.0,720.0,737.0,661.0,658.0
Drogues,40.0,40.0,49.0,42.0,33.0,46.0,40.0,33.0,46.0,41.0,50.0,50.0,57.0,67.0,63.0,57.0,52.0,59.0,63.0
Alcool + droques,15.0,9.0,12.0,18.0,27.0,18.0,16.0,21.0,15.0,26.0,24.0,24.0,27.0,39.0,35.0,27.0,17.0,18.0,28.0
Médicaments,10.0,11.0,12.0,10.0,8.0,14.0,11.0,13.0,17.0,15.0,15.0,13.0,30.0,23.0,17.0,21.0,23.0,32.0,23.0
Alcool + médicaments,5.0,7.0,4.0,6.0,4.0,3.0,6.0,7.0,8.0,6.0,7.0,7.0,8.0,7.0,11.0,10.0,14.0,19.0,17.0
Drogues et médicaments,7.0,3.0,5.0,4.0,5.0,2.0,5.0,3.0,2.0,5.0,4.0,4.0,5.0,6.0,2.0,6.0,2.0,0.0,3.0
Alcool + drogues + médicaments,0.0,1.0,0.0,1.0,1.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,3.0,1.0,1.0,1.0

In [329]:
totCirco = sum(acc_circo['2017'])
totCirco

11754.0

> Hmmm... it looks like this dataset is incomplete! It provides only 11754 values out of 17799 accidents... Another possibility would be that "Autres facteurs d'influence" doesn't contain "No influence factor" for example.

In [330]:
#aggregate circo dataset in groups by context
acc_circo = df_acc_circo.groupby(['contexte']).sum().sort_values(['2010'], ascending=False)\
            [[col for col in df_acc_circo.columns if IS_DATE.match(col)]]
display(acc_circo)

,2010,2011,2012,2013,2014,2015,2016,2017
contexte,,,,,,,,
Tamponnement,4061.0,4062.0,3822.0,3659.0,3882.0,3701.0,3862.0,3651.0
Changement de direction (en obliquant),3887.0,3855.0,3457.0,3383.0,3535.0,3481.0,3438.0,3464.0
Accident concernant des piétons,2251.0,2187.0,2113.0,2100.0,2081.0,2110.0,2073.0,2097.0
À une bifurcation sans changement de direction,1058.0,1027.0,979.0,922.0,916.0,910.0,881.0,865.0
Lors de croisement (longitudinal),833.0,805.0,762.0,675.0,649.0,665.0,655.0,703.0
Autre,602.0,546.0,522.0,489.0,497.0,537.0,530.0,479.0
Dépassement,465.0,497.0,415.0,434.0,416.0,435.0,402.0,417.0
Avec un animal,82.0,74.0,91.0,72.0,89.0,99.0,74.0,78.0

> Still the same issue, and 'Autre' is even included... I think there miss values

## B. Analyse on the actor of car accident

> Maybe our previous results are false since it's relative to the population but we don't know the part of the population who has a driver licence. So now let study the pur data. We prepare the dataset to a pourcentage relative to the number of car accident during the year.

In [331]:
df_Accident = df_Accident_objets[(df_Accident_objets.faute_index==1) & (df_Accident_objets.voiture_index==210)]
for column in df_Accident.columns:
    if IS_DATE.match(column):
        df_Accident[column] = df_Accident[column].apply(lambda x: x*100/(df_Accident[column].sum()))

C:\Users\Clementg20\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

### B.1. Sexe and Age of drivers

In [332]:
display(df_Accident.groupby(['sexe']).sum().sort_values(['2017'], ascending=False)\
        [[col for col in df_Accident.columns if IS_DATE.match(col)]])

,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
sexe,,,,,,,,,,,,,,,,,,,,,
Homme,72.550478,71.591507,70.455072,70.507938,70.061164,69.991251,69.749787,68.984757,68.619270,68.311121,...,63.908187,64.488518,63.897465,63.744292,63.759194,63.543805,62.981812,61.982833,62.231615,61.811600
Femme,25.716410,26.764930,27.860120,27.880954,28.211110,28.215223,28.719786,29.209088,29.723178,30.081756,...,34.028062,33.778706,33.991527,34.056317,34.282059,34.641596,35.040881,35.785408,35.807270,36.309575
Inconnu,1.733112,1.643563,1.684808,1.611108,1.727726,1.793526,1.530426,1.806155,1.657552,1.607123,...,2.063752,1.732777,2.111007,2.199391,1.958746,1.814599,1.977307,2.231760,1.961116,1.878824

In [333]:
display(df_Accident.groupby(['age']).sum().sort_values(['2017'], ascending=False)\
        [[col for col in df_Accident.columns if IS_DATE.match(col)]].head(5))

,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
age,,,,,,,,,,,,,,,,,,,,,
21-29 ans,32.362867,30.806574,29.845994,29.105396,27.340942,26.390451,26.497024,26.304285,24.575746,24.599619,...,23.934069,23.458594,22.574855,22.549467,21.410297,21.873717,21.341565,20.849785,20.481826,20.744635
30-39 ans,19.567580,19.933322,21.120889,21.020564,21.596570,21.853518,21.559577,22.530917,21.790607,21.581364,...,17.872224,17.418232,17.175271,16.651446,17.276943,17.415223,16.827966,16.334764,17.100592,17.452383
40-49 ans,13.933535,14.704334,14.578509,14.880778,15.070307,14.554431,15.547188,14.713834,15.295710,15.785642,...,17.647459,17.390397,17.893301,16.849315,17.628718,16.725511,16.385783,16.377682,15.198648,14.935792
50-59 ans,9.655094,10.352693,10.398333,10.914523,10.946466,11.604799,11.387101,11.285591,11.805830,11.132266,...,12.409753,12.588727,12.938896,12.815830,13.383435,13.334428,14.300017,14.909871,14.784446,14.909937
70 ans et plus,5.062060,5.457098,5.679713,5.958170,6.343401,6.749156,6.170290,6.016681,6.833174,6.921268,...,7.982564,8.608212,8.738422,9.634703,9.881676,10.181460,10.737527,11.527897,12.375317,12.548479

In [335]:
display(df_Accident.groupby(['sexe','age']).sum().sort_values(['2017'], ascending=False)\
        [[col for col in df_Accident.columns if IS_DATE.match(col)]].head(5))

                      1992       1993       1994       1995       1996  \
sexe  age
Homme 21-29 ans  23.560030  22.272913  21.271422  20.692483  19.307649
      30-39 ans  14.316765  14.218869  14.404817  14.623001  15.246863
      40-49 ans   9.775210   9.972510   9.981473  10.176343  10.259159
      50-59 ans   7.058285   7.498392   7.596109   7.686449   7.667570
Femme 21-29 ans   8.802837   8.533661   8.574572   8.412912   8.033293

                      1997       1998       1999       2000       2001  \
sexe  age
Homme 21-29 ans  18.416448  18.899551  18.349152  17.139313  16.933587
      30-39 ans  15.223097  14.696951  15.478861  14.083554  14.497704
      40-49 ans   9.980002  10.737277   9.882082  10.385071  10.549894
      50-59 ans   8.248969   7.864691   7.794075   8.276484   7.576436
Femme 21-29 ans   7.974003   7.597474   7.955134   7.436432   7.666032

                   ...           2008       2009       2010       2011  \
sexe  age          ...
Homme 21-29 ans    ...      15.175044  15.414057  14.669347  14.436834
      30-39 ans    ...      10.999864  11.113431  10.863790  10.471842
      40-49 ans    ...      11.176951  10.946416  11.208444  10.304414
      50-59 ans    ...       8.234573   8.030619   8.573275   8.287671
Femme 21-29 ans    ...       8.759025   8.044537   7.905507   8.112633

                      2012       2013       2014       2015       2016  \
sexe  age
Homme 21-29 ans  13.751199  13.810658  13.340564  12.918455  12.907861
      30-39 ans  10.833067  11.060021  10.946104  10.017167  10.431107
      40-49 ans  11.096898  10.534527   9.944936   9.682403   9.315300
      50-59 ans   8.786377   8.522867   9.227432   9.665236   9.323753
Femme 21-29 ans   7.659098   8.063059   8.001001   7.931330   7.573964

                      2017
sexe  age
Homme 21-29 ans  12.436439
      30-39 ans  11.247091
      40-49 ans   9.221753
      50-59 ans   9.109713
Femme 21-29 ans   8.308196

[5 rows x 26 columns]

### B.2. Licence term of drivers

In [337]:
mapping={}
index_permis = df_Accident_objets['annee_permis_index'].unique()
for i in range(len(index_permis)):
    if ((index_permis[i]==999) | (index_permis[i] == 16)):
        mapping[index_permis[i]] = 1
    else:
        mapping[index_permis[i]] = index_permis[i+1] - index_permis[i]


df_permis = df_Accident.copy()

df_permis = df_Accident[(df_Accident.faute_index==1)\
                            & (df_Accident.voiture_index==210)]
df_permis = df_permis.groupby(['annee_permis','annee_permis_index']).sum().sort_values(['2017'], ascending=False)
dates = [col for col in df_permis.columns if IS_DATE.match(col)]

for i in range(len(df_permis.index)):
    df_permis.loc[df_permis.index.values[i]] = df_permis.loc[df_permis.index.values[i]] / mapping[df_permis.index.values[i][1]]
df_permis = df_permis[[col for col in df_permis.columns if IS_DATE.match(col)]].sort_values(['2017'], ascending=False)
display(df_permis)

,,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
annee_permis,annee_permis_index,,,,,,,,,,,,,,,,,,,,,
16 ans et plus,16.0,34.101699,36.129145,36.903659,38.180327,39.239549,40.826147,40.428762,40.103538,42.769352,42.826744,...,47.370930,48.517745,49.019889,49.398782,50.623601,50.677396,52.069081,53.236052,53.964497,53.520641
0 an,0.0,8.940113,7.527636,7.399259,7.375945,8.506211,7.892763,8.368760,8.231234,8.597846,8.746780,...,7.553467,7.787056,7.331084,7.480974,7.331308,6.798588,6.891373,6.377682,6.424345,6.463846
1 an,1.0,7.029686,6.720477,5.969199,5.794130,5.511066,5.593051,6.145998,6.045441,5.677398,6.081308,...,5.373927,5.170494,4.724636,5.167428,5.132715,4.885459,4.680461,4.214592,4.437870,4.490218
2 ans,2.0,5.811360,5.878224,5.743400,5.184838,4.281481,4.468191,5.198591,5.050331,4.617466,4.810169,...,4.502111,4.370216,4.143032,3.873668,3.837544,3.998686,3.504088,3.699571,3.778529,3.740412
3 ans,3.0,5.685523,5.100310,5.123900,4.845041,4.022952,3.918260,3.977894,4.377337,3.957828,3.936611,...,3.889116,4.050104,3.324478,3.485540,3.445795,3.350029,3.370599,3.416309,3.000845,3.137120
Inconnu,999.0,3.008637,2.702228,2.703798,2.659793,2.818589,2.730909,2.459614,2.876043,2.892259,2.743868,...,3.698406,3.215031,3.740935,4.041096,3.725616,3.522457,3.529117,3.716738,3.212172,3.076790
4 ans,4.0,4.690271,4.749371,4.753358,4.405648,4.098619,3.993251,3.516337,3.606557,3.574449,3.572629,...,3.555374,3.208072,3.288576,3.302892,2.774224,3.276131,2.895044,2.987124,3.034658,2.818237
5 ans,5.0,4.055368,4.000702,4.047013,3.972113,4.054480,3.712036,3.273412,3.111878,2.914811,3.018255,...,3.119466,2.901879,3.123429,2.777778,2.518388,2.561787,2.594694,2.472103,2.671175,2.576920
6-10 ans,6.0,3.187096,3.199392,3.105604,3.191751,3.097295,2.977128,2.991619,2.958873,2.746800,2.571397,...,2.456069,2.336813,2.487255,2.316591,2.251359,2.330241,2.282663,2.218026,2.143702,2.245971
11-15 ans,11.0,2.148373,2.238989,2.365679,2.324682,2.396116,2.395951,2.334507,2.360656,2.252918,2.281330,...,1.731372,1.819068,1.773533,1.777778,1.870803,1.855653,1.810446,1.757940,1.751479,1.789192

## C. Analyse on the actors of accidents relative to the population

### C.0. Normalize the data by the population

#### C0.1. Get the total swiss population

In [341]:
ages = build_age(df_Accident_objets.age_index.unique())
for age in ages:
    df_Population_2010[str(age[0])] = df_Population_2010.loc[:,age[1:]].sum(axis=1)

toKeep = []
for age in ages :
    toKeep.append(str(age[0]))
toKeep.append('annee')
toKeep.append('sexe')

df_pop_Suisse = df_Population_2010[(df_Population_2010['canton'] == 'Suisse') & (df_Population_2010['sexe'] != 'Sexe - Total')\
                                     & (df_Population_2010.etat_civil == "Etat civil - Total")]

df_pop_Suisse = df_pop_Suisse[toKeep]
df_pop_Suisse['annee'] = df_pop_Suisse['annee'].map(int).map(str)
df_pop_Suisse = df_pop_Suisse.groupby(['annee','sexe']).sum()
df_pop_Suisse = df_pop_Suisse.transpose()
df_pop_Suisse.index = df_pop_Suisse.index.map(float)

In [342]:
df_Suisse_1992 = df_Population_age_1992[(df_Population_age_1992.sexe != 'Sexe - Total') & (df_Population_age_1992.age != 'Age - Total')]
df_Suisse_1992 = df_Suisse_1992.groupby(['age','sexe']).sum().transpose()

for age in ages:
    for s in df_Population_age_1992[df_Population_age_1992.sexe != 'Sexe - Total'].sexe.unique():
        index_to = [(annee,s) for annee in age[1:]]
        df_Suisse_1992[(str(age[0]),s)] = df_Suisse_1992.loc[:,index_to].sum(axis=1)
df_Suisse_1992 = df_Suisse_1992.transpose().reset_index().set_index('age').transpose()

toKeep = []
for age in ages :
    toKeep.append(str(age[0]))
df_Suisse_1992 = df_Suisse_1992[toKeep]
df_Suisse_1992 = df_Suisse_1992.transpose()

for year in range(1992,2010):
    for sexe in np.unique([sexe[1] for sexe in df_pop_Suisse.columns.values]):
        df_pop_Suisse[(str(year),sexe)] = df_Suisse_1992.loc[df_Suisse_1992.sexe==sexe][str(year)]
display(df_pop_Suisse.head(5))

C:\Users\Clementg20\Anaconda3\lib\site-packages\pandas\core\indexing.py:979: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_nested_tuple(tup)

annee      2010                2011                2012                2013  \
sexe      Femme     Homme     Femme     Homme     Femme     Homme     Femme
0.0    191197.0  202097.0  195313.0  206364.0  198173.0  210120.0  201280.0
5.0     37402.0   39653.0   37807.0   40014.0   38743.0   40693.0   39450.0
6.0    149641.0  157585.0  150877.0  158790.0  152374.0  160288.0  154842.0
10.0   203641.0  214404.0  200464.0  211509.0  198210.0  209411.0  196714.0
15.0   128790.0  135406.0  128497.0  135222.0  127946.0  134486.0  127218.0

annee                2014             ...      2005            2006          \
sexe      Homme     Femme     Homme   ...     Femme   Homme   Femme   Homme
0.0    213036.0  204828.0  216474.0   ...    177363  187819  177587  187995
5.0     42127.0   40359.0   42763.0   ...     36886   39202   36023   38385
6.0    162938.0  157261.0  166440.0   ...    157083  166095  154375  163502
10.0   207509.0  196515.0  207080.0   ...    211676  223411  209411  221047
15.0   134069.0  125857.0  132988.0   ...    129832  137137  132068  139716

annee    2007            2008            2009
sexe    Femme   Homme   Femme   Homme   Femme   Homme
0.0    178473  188725  181376  191869  184239  195325
5.0     35991   38393   36173   38361   36626   38626
6.0    151269  160537  149927  159496  148587  158177
10.0   206647  218410  205007  217162  203635  215747
15.0   133365  141070  133177  140852  131770  139313

[5 rows x 52 columns]

> `df_pop_Suisse` contains the Swiss population by **year** and **sexe** on *columns* and by **age** range on *rows*

#### C.0.1. Normalize

In [343]:
df_Accident_victimes_normalized = df_Accident_victimes.copy()
df_Accident_victimes_normalized = df_Accident_victimes_normalized[df_Accident_victimes_normalized['sexe_index']!=9]
for year,sexe in df_pop_Suisse.columns.values:
    for age in df_pop_Suisse.index.values:
        df_Accident_victimes_normalized.loc[(df_Accident_victimes_normalized.age_index==age) &\
                                           (df_Accident_victimes_normalized.sexe==sexe),year]\
        = df_Accident_victimes_normalized[year]*10000 / df_pop_Suisse.loc[df_pop_Suisse.index==age,year][sexe].values[0]

df_Accident_victimes_normalized = df_Accident_victimes_normalized[df_Accident_victimes_normalized.age_index != 999]
display(df_Accident_victimes_normalized.head(2))

,voiture_index,voiture,sexe_index,sexe,role_index,role,age_index,age,consequence_index,consequence,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,210.0,Voiture de tourisme,1.0,Homme,300.0,Conducteur,0.0,jusqu'à 4 ans,315.0,Blessé léger,...,0.0,0.0,0.0,0.0,0.047592,0.0,0.0,0.0,0.0,0.0
1,210.0,Voiture de tourisme,1.0,Homme,300.0,Conducteur,0.0,jusqu'à 4 ans,316.0,Blessé grave,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0

> `df_Accident_acteurs_normalized` contains the proportion in term of **age range** and **sexe** of the population involved in accident

In [344]:
df_Accident_objets_normalized = df_Accident_objets.copy()
df_Accident_objets_normalized = df_Accident_objets_normalized[df_Accident_objets_normalized['sexe_index']!=9]
for year,sexe in df_pop_Suisse.columns.values:
    for age in df_pop_Suisse.index.values:
        df_Accident_objets_normalized.loc[(df_Accident_objets_normalized.age_index==age) &\
                                           (df_Accident_objets_normalized.sexe==sexe),year]\
        = df_Accident_objets_normalized[year]*10000 / df_pop_Suisse.loc[df_pop_Suisse.index==age,year][sexe].values[0]

df_Accident_objets_normalized = df_Accident_objets_normalized[df_Accident_objets_normalized.age_index != 999]
display(df_Accident_objets_normalized.head(2))

,voiture_index,voiture,age_index,age,sexe_index,sexe,annee_permis_index,annee_permis,faute_index,faute,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,210.0,Voiture de tourisme,0.0,Jusqu'à 4 ans,1.0,Homme,0.0,0 an,0.0,Objet sans faute ni influence,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,210.0,Voiture de tourisme,0.0,Jusqu'à 4 ans,1.0,Homme,0.0,0 an,0.0,Objet sans faute ni influence,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

> `df_Accident_objets_normalized` contains the proportion in term of **age range** and **sexe** of the population involved in accident

### C.1. Sexe and Age of drivers

#### C.1.1. Sexe and Age together

In [346]:
df_conducteur = df_Accident_objets_normalized[(df_Accident_objets_normalized.faute_index==1)\
                                           & (df_Accident_objets_normalized.voiture_index==210)]
df_conducteur = df_conducteur.groupby(['sexe','age']).sum().sort_values(['2017'], ascending=False)[[col for col in df_conducteur.columns if IS_DATE.match(col)]]
display(df_conducteur.head(5))

                       1992        1993        1994        1995       1996  \
sexe  age
Homme 20 ans     127.971524  117.852950  125.859697  115.426207  92.977202
      18-19 ans   91.262445   85.548212   79.800978   79.263615  84.056135
      21-29 ans   79.562532   75.568450   75.104204   74.622609  67.304099
Femme 20 ans      41.204299   47.217153   39.882947   42.637725  36.786490
Homme 30-39 ans   43.852580   41.868027   41.974276   41.392829  39.754567

                       1997        1998        1999        2000        2001  \
sexe  age
Homme 20 ans     111.426699  117.792183  130.883766  118.059614  131.882700
      18-19 ans   78.972986   86.307553   87.905889   97.575091   99.309354
      21-29 ans   67.516639   73.536188   76.999389   74.377638   72.578555
Femme 20 ans      33.910984   38.310314   41.470970   47.580900   48.580501
Homme 30-39 ans   40.106226   39.883317   44.419721   41.375975   42.328752

                   ...           2008       2009       2010       2011  \
sexe  age          ...
Homme 20 ans       ...      76.846329  68.903970  60.461671  61.102625
      18-19 ans    ...      68.300948  65.115308  55.686596  59.962381
      21-29 ans    ...      50.191485  48.996512  42.968643  39.242457
Femme 20 ans       ...      33.497884  37.035442  32.691987  24.248202
Homme 30-39 ans    ...      28.826623  28.567289  27.008356  24.289025

                      2012       2013       2014       2015       2016  \
sexe  age
Homme 20 ans     55.482377  45.599542  47.268263  40.245925  43.554182
      18-19 ans  49.946674  47.051076  43.540140  37.905391  37.816045
      21-29 ans  35.122254  33.921480  31.927447  29.644892  30.092583
Femme 20 ans     27.287386  26.002259  31.368168  26.294974  25.347733
Homme 30-39 ans  23.592174  23.070797  22.080219  19.292668  20.161949

                      2017
sexe  age
Homme 20 ans     39.736442
      18-19 ans  35.445563
      21-29 ans  28.468726
Femme 20 ans     25.532472
Homme 30-39 ans  21.087092

[5 rows x 26 columns]

#### C.1.2. Sexe only

In [347]:
display(df_conducteur.groupby(['sexe']).sum().sort_values(['2017'], ascending=False))

,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
sexe,,,,,,,,,,,,,,,,,,,,,
Homme,472.150909,452.039610,453.100949,442.028498,405.744536,421.970174,439.099231,462.567421,464.760519,472.880121,...,318.479298,304.020417,275.120250,267.219327,244.140696,226.372270,219.320518,200.363493,205.480487,195.489628
Femme,155.807492,159.759884,158.269271,158.433251,150.791784,144.482553,158.113546,169.336094,176.822786,182.652496,...,145.942061,146.576781,137.243465,121.364819,121.848155,119.164725,119.277469,112.998868,114.132016,114.017821

#### C.1.3. Age only

In [348]:
display(df_conducteur.groupby(['age']).sum().sort_values(['2017'], ascending=False))

,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
age,,,,,,,,,,,,,,,,,,,,,
20 ans,169.175823,165.070103,165.742644,158.063932,129.763693,145.337682,156.102496,172.354736,165.640514,180.463201,...,110.344213,105.939412,93.153658,85.350827,82.769763,71.601801,78.636430,66.540899,68.901914,65.268914
18-19 ans,118.734644,110.401491,105.036700,101.916682,110.876743,99.097579,112.813000,115.999601,123.647997,129.953734,...,88.450343,87.723851,76.853005,78.306997,71.356608,68.629788,60.799182,54.831518,56.345653,54.325578
21-29 ans,110.318358,105.070017,105.673692,105.005076,95.110129,96.397309,102.762975,110.150468,106.550017,105.702915,...,79.556707,74.902028,66.802340,61.984712,55.321889,54.301182,51.660851,48.558544,48.465890,48.290494
30-39 ans,60.870922,59.570028,62.495261,60.304638,56.918102,58.022168,58.840376,64.887338,64.165233,63.343158,...,47.015815,44.953023,42.970642,38.941965,37.982282,36.682755,34.304946,31.851688,33.454870,33.082054
40-49 ans,47.902619,49.357171,49.300135,49.566926,46.548065,45.277973,49.482859,48.971764,51.216346,51.918942,...,40.864717,38.876569,38.355462,33.981593,33.931181,31.569275,30.783862,30.298006,28.926313,28.163320
70 ans et plus,30.850933,32.166982,32.770495,33.746316,32.462610,34.263381,31.303280,32.010362,36.557740,35.770656,...,29.158526,30.126845,28.681755,29.111991,27.407709,26.992079,26.636781,27.248966,28.715803,27.649526
50-59 ans,43.533557,44.751647,44.326456,44.851796,40.830010,42.650705,42.042554,43.018270,45.018277,42.012526,...,36.034670,35.148150,33.960527,30.868903,29.832916,28.020276,28.603760,28.242134,27.854799,27.124386
60-69 ans,37.451596,37.405979,38.351241,38.253963,36.311814,38.419658,36.383173,37.071092,38.978375,36.780571,...,30.772544,31.221792,30.229972,28.658326,25.773608,26.941746,26.231409,25.038363,26.346367,25.020737
15-17 ans,5.888159,5.351004,4.688106,6.024098,5.106690,4.185377,4.802986,4.434801,5.908898,6.225329,...,1.933272,1.659177,1.263071,1.187110,1.565302,0.749901,0.844184,0.752243,0.600894,0.534870
10-14 ans,3.169508,2.655073,2.939557,2.728322,2.515621,2.753784,2.628577,3.005084,3.661072,3.361585,...,0.238434,0.046351,0.093282,0.191722,0.000000,0.048191,0.096581,0.000000,0.000000,0.047569
5 ans,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.238834,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6-9 ans,0.062282,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Jusqu'à 4 ans,0.000000,0.000000,0.045932,0.000000,0.092845,0.047111,0.050500,0.000000,0.000000,0.000000,...,0.052119,0.000000,0.000000,0.000000,0.047592,0.000000,0.000000,0.000000,0.000000,0.000000

> Number of **conductors** who drive a **normal car** who are **responsible** an accident with victimes. Numbers are 1/10,000 citizens of that categorie of citizen

### C.2. Licence term of drivers

In [349]:
mapping={}
index_permis = df_Accident_objets['annee_permis_index'].unique()
for i in range(len(index_permis)):
    if ((index_permis[i]==999) | (index_permis[i] == 16)):
        mapping[index_permis[i]] = 1
    else:
        mapping[index_permis[i]] = index_permis[i+1] - index_permis[i]


df_permis = df_Accident_objets_normalized.copy()

df_permis = df_Accident_objets_normalized[(df_Accident_objets_normalized.faute_index==1)\
                            & (df_Accident_objets_normalized.voiture_index==210)]
df_permis = df_permis.groupby(['annee_permis','annee_permis_index']).sum().sort_values(['2017'], ascending=False)
dates = [col for col in df_permis.columns if IS_DATE.match(col)]

for i in range(len(df_permis.index)):
    df_permis.loc[df_permis.index.values[i]] = df_permis.loc[df_permis.index.values[i]] / mapping[df_permis.index.values[i][1]]
df_permis = df_permis[[col for col in df_permis.columns if IS_DATE.match(col)]].sort_values(['2017'], ascending=False)
display(df_permis)

,,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
annee_permis,annee_permis_index,,,,,,,,,,,,,,,,,,,,,
16 ans et plus,16.0,151.830988,155.492622,157.363385,159.403876,150.194756,156.738364,155.433811,160.281814,173.458723,170.031310,...,139.520963,138.460565,132.426681,124.912390,119.172723,115.470413,114.408562,112.456571,114.792466,110.276788
0 an,0.0,142.498262,123.374769,123.556499,128.246876,134.726054,128.560318,138.590490,148.358898,156.150508,158.154178,...,103.349804,107.369984,91.846562,90.650620,82.193101,73.991970,73.751087,66.297358,66.413550,65.903547
1 an,1.0,115.056016,116.987970,105.379789,103.902797,91.447105,92.487221,105.406004,114.483530,107.449539,121.968624,...,75.841267,69.190132,60.503807,59.967035,59.746205,53.247396,52.533768,43.266116,47.139497,45.323683
2 ans,2.0,60.729267,61.781925,67.446199,53.471419,37.813390,45.859647,53.980696,55.626946,53.101017,57.694045,...,42.361811,39.063671,36.455055,30.937408,28.064216,28.548895,27.969970,26.389337,26.583125,24.397839
3 ans,3.0,21.661587,19.040298,19.630905,18.491277,15.035516,15.244564,15.719121,18.181270,17.416233,17.423118,...,12.650185,12.532685,9.571983,9.519724,9.023592,8.480907,8.390982,7.787504,6.928320,7.404767
4 ans,4.0,16.808797,16.995324,17.814826,16.588059,14.531135,15.446187,13.960276,15.545337,15.618946,15.944966,...,11.496095,9.942998,9.450254,8.815974,7.130637,8.006289,6.830234,6.806711,6.956656,6.384212
5 ans,5.0,14.839632,14.184733,15.103948,15.069014,14.938232,13.351162,12.610990,13.472996,12.903029,13.612848,...,9.823983,8.726848,8.875188,7.341964,6.291182,6.063323,6.058009,5.565988,6.087784,5.788939
6-10 ans,6.0,11.842954,11.878440,11.847788,12.109018,11.073046,11.179562,11.864094,12.247334,11.829183,11.006537,...,7.497953,6.917013,6.878061,6.050665,5.474215,5.459698,5.257620,4.839923,4.767883,4.883310
11-15 ans,11.0,7.140738,7.221523,7.627887,7.237492,6.932951,6.924922,7.010503,7.381686,7.136687,7.308612,...,4.576432,4.696056,4.416956,4.137954,4.084221,3.905022,3.713235,3.447830,3.455713,3.446991
Inconnu,999.0,9.615391,8.442038,7.696294,8.555882,7.820147,8.242843,7.138405,7.807623,10.655958,9.127786,...,9.005324,7.244969,6.759102,5.495936,6.575014,4.904202,3.801098,3.354011,3.593128,2.376171

> Note that for precise period sush as "6-10 ans" and "11-15 ans" results are divide by the number of years. Since we have no information about the driver licence in the population, we can't report by the number of citizen who have a driver licence.

### C.3. Sexe and Age of drivers excluding young drivers (having driver licence for 5 years or more)

In [350]:
df_conducteur_confirmed = df_Accident_objets_normalized[(df_Accident_objets_normalized.faute_index==1)\
                                           & (df_Accident_objets_normalized.voiture_index==210)\
                                            &(df_Accident_objets_normalized.annee_permis_index>4)\
                                             &(df_Accident_objets_normalized.annee_permis_index!=999)]
df_conducteur_confirmed = df_conducteur_confirmed.groupby(['sexe','age']).sum().sort_values(['2017'], ascending=False)[[col for col in df_conducteur.columns if IS_DATE.match(col)]]
display(df_conducteur_confirmed.head(5))

                           1992       1993       1994       1995       1996  \
sexe  age
Homme 70 ans et plus  26.605339  27.894003  27.603285  28.914694  27.268483
      30-39 ans       36.774496  36.132917  36.288853  35.853885  34.970209
      60-69 ans       29.720316  29.456963  28.886025  28.985116  27.173187
      40-49 ans       30.786296  31.017370  31.461494  31.431934  29.587514
      50-59 ans       30.803029  31.345814  31.282173  30.602205  27.632502

                           1997       1998       1999       2000       2001  \
sexe  age
Homme 70 ans et plus  28.520126  25.248015  26.284672  30.398260  28.809353
      30-39 ans       35.348139  34.494125  39.467690  36.208119  37.701855
      60-69 ans       27.987325  26.993640  26.403598  28.517504  26.699334
      40-49 ans       28.997091  32.191127  30.611140  32.486644  32.811370
      50-59 ans       29.429806  28.165035  28.889887  30.956427  27.969640

                        ...           2008       2009       2010       2011  \
sexe  age               ...
Homme 70 ans et plus    ...      22.113104  22.846748  21.197766  21.546216
      30-39 ans         ...      25.810091  26.045067  24.134367  21.764802
      60-69 ans         ...      20.450934  21.256262  20.120053  19.172347
      40-49 ans         ...      24.490993  23.119928  22.730356  19.868757
      50-59 ans         ...      23.222267  21.855012  21.722033  19.558043

                           2012       2013       2014       2015       2016  \
sexe  age
Homme 70 ans et plus  19.759087  20.454627  18.856224  19.972230  20.870296
      30-39 ans       21.154606  20.895599  19.757757  17.507229  17.939887
      60-69 ans       17.843825  18.024530  18.112347  16.667834  17.176259
      40-49 ans       20.444228  18.909912  17.964703  16.953680  16.877826
      50-59 ans       19.001292  17.514302  18.078431  17.922416  17.134273

                           2017
sexe  age
Homme 70 ans et plus  19.699791
      30-39 ans       18.679447
      60-69 ans       16.579135
      40-49 ans       16.552956
      50-59 ans       16.080889

[5 rows x 26 columns]

> Clearly **today**, old men are dangerous!

### C.4. Sexe and Age of conductors of young drivers (having driver licence for 4 years or less)

In [351]:
df_conducteur_young = df_Accident_objets_normalized[(df_Accident_objets_normalized.faute_index==1)\
                                           & (df_Accident_objets_normalized.voiture_index==210)\
                                            &(df_Accident_objets_normalized.annee_permis_index<5)\
                                             &(df_Accident_objets_normalized.annee_permis_index!=999)]
df_conducteur_young = df_conducteur_young.groupby(['sexe','age']).sum().sort_values(['2017'], ascending=False)[[col for col in df_conducteur.columns if IS_DATE.match(col)]]
display(df_conducteur_young.head(5))

                       1992        1993        1994        1995       1996  \
sexe  age
Homme 20 ans     123.945930  113.200860  120.586887  111.194697  89.596213
      18-19 ans   86.830022   81.095017   75.234055   75.854428  80.036059
Femme 20 ans      40.550263   46.989051   39.646953   41.184166  36.045823
      18-19 ans   26.874978   24.238099   24.733518   21.767192  25.926588
Homme 21-29 ans   40.718091   37.982672   38.267575   37.628218  32.465106

                       1997        1998        1999        2000        2001  \
sexe  age
Homme 20 ans     106.085985  113.196594  127.281460  111.513735  126.854243
      18-19 ans   75.322463   82.696359   84.615294   93.176688   95.369426
Femme 20 ans      33.162947   37.554189   39.472369   47.095380   47.158633
      18-19 ans   19.355500   25.117066   26.732342   25.583274   29.917636
Homme 21-29 ans   33.678133   37.736919   40.237612   39.439721   38.065340

                   ...           2008       2009       2010       2011  \
sexe  age          ...
Homme 20 ans       ...      74.935784  67.243634  58.860037  59.317158
      18-19 ans    ...      65.759517  63.028279  54.045739  59.131013
Femme 20 ans       ...      33.497884  37.035442  32.483758  24.248202
      18-19 ans    ...      20.038072  22.608543  21.058965  18.344617
Homme 21-29 ans    ...      26.740257  26.234701  22.062705  19.590199

                      2012       2013       2014       2015       2016  \
sexe  age
Homme 20 ans     53.885762  44.372648  46.859014  39.032480  43.152761
      18-19 ans  48.573933  45.988975  42.696748  37.698823  36.461752
Femme 20 ans     27.080663  25.789126  30.723616  26.294974  24.921720
      18-19 ans  21.186913  21.355098  17.147693  16.814770  18.416622
Homme 21-29 ans  19.174300  17.928773  16.632623  15.226247  15.647355

                      2017
sexe  age
Homme 20 ans     39.736442
      18-19 ans  34.914941
Femme 20 ans     25.314246
      18-19 ans  18.651166
Homme 21-29 ans  14.362600

[5 rows x 26 columns]

### C.5. Who has not the driver licence

In [352]:
df_conducteur_illegal = df_Accident_objets_normalized[(df_Accident_objets_normalized.faute_index==1)\
                                           & (df_Accident_objets_normalized.voiture_index==210)\
                                             &(df_Accident_objets_normalized.annee_permis_index==999)]
df_conducteur_illegal = df_conducteur_illegal.groupby(['sexe','age']).sum().sort_values(['2017'], ascending=False)[[col for col in df_conducteur.columns if IS_DATE.match(col)]]
display(df_conducteur_illegal.head(5))

                     1992      1993      1994      1995      1996      1997  \
sexe  age
Homme 15-17 ans  1.824409  1.498339  1.408392  1.471093  1.528806  1.111588
      21-29 ans  1.641859  1.309747  1.103872  1.056379  0.901198  1.030963
      18-19 ans  2.045734  1.640651  2.043097  1.582837  1.461846  1.703578
      30-39 ans  0.508080  0.447786  0.556733  0.497510  0.542556  0.362207
Femme 18-19 ans  0.238889  0.000000  0.000000  0.632767  0.127717  0.128182

                     1998      1999      2000      2001    ...         2008  \
sexe  age                                                  ...
Homme 15-17 ans  1.419111  1.567521  1.867966  1.484514    ...     1.419930
      21-29 ans  1.086975  1.399989  1.370114  1.296046    ...     1.036269
      18-19 ans  1.685224  1.292734  1.851959  1.854084    ...     2.541431
      30-39 ans  0.296653  0.561230  0.612855  0.425086    ...     0.517630
Femme 18-19 ans  0.252433  0.247522  0.000000  0.363372    ...     0.111323

                     2009      2010      2011      2012      2013      2014  \
sexe  age
Homme 15-17 ans  1.148493  1.033928  1.109287  1.487144  0.671296  0.451169
      21-29 ans  1.238738  0.757157  0.806777  0.694277  0.766359  0.698850
      18-19 ans  2.087029  1.640857  0.831367  1.267146  1.062101  0.632544
      30-39 ans  0.286210  0.481973  0.335386  0.417869  0.256913  0.218783
Femme 18-19 ans  0.000000  0.107444  0.000000  0.223020  0.223614  0.000000

                     2015      2016      2017
sexe  age
Homme 15-17 ans  0.593331  0.525782  0.534870
      21-29 ans  0.393952  0.335019  0.355119
      18-19 ans  0.206569  1.354294  0.318373
      30-39 ans  0.247978  0.228742  0.258539
Femme 18-19 ans  0.111356  0.000000  0.228849

[5 rows x 26 columns]

## D. Analyse on the actor of car accident in proportion of population who have the driver licence

### D.0. Normalize the data by population with driver licence possession

In [356]:
df_conducteur_bysexe = df_Population_2010[(df_Population_2010['canton'] == 'Suisse') & (df_Population_2010['sexe'] != 'Sexe - Total')\
                                     & (df_Population_2010.etat_civil == "Etat civil - Total")]\
                .drop(columns=['canton','canton_index','permanente','etat_civil','Age - Total'])
df_conducteur_bysexe['annee'] = df_conducteur_bysexe['annee'].map(int).map(str)
df_conducteur_bysexe = df_conducteur_bysexe.groupby(['annee','sexe']).sum().transpose().sum()
df_conducteur_bysexe = pd.DataFrame(df_conducteur_bysexe)

df_conducteur_bysexe = df_conducteur_bysexe.transpose()
df_conducteur_1992 = df_Population_age_1992[(df_Population_age_1992.age == "Age - Total") & (df_Population_age_1992.sexe != 'Sexe - Total')]\
                        .drop(columns=['age'])
for year in range(1992,2010):
    for sexe in np.unique([sexe[1] for sexe in df_conducteur_bysexe.columns.values]):
        df_conducteur_bysexe[(str(year),sexe)] = df_conducteur_1992.loc[df_conducteur_1992.sexe==sexe][str(year)].values[0]
df_conducteur_bysexe = df_conducteur_bysexe.transpose().reset_index()
annee = []
for elem in df_proportion_permis.columns:
    if IS_DATE.match(elem):
        annee.append(elem)
df_conducteur_bysexe = df_conducteur_bysexe[df_conducteur_bysexe.annee.isin(annee)].set_index(['annee','sexe']).transpose()
df_proportion_permis_sexe = df_proportion_permis[df_proportion_permis.critere.isin(['Hommes','Femmes'])]
for year in annee:
    for sexe in np.unique([sexe[1] for sexe in df_conducteur_bysexe.columns.values]):
        df_conducteur_bysexe[(str(year),sexe)] = int((1/100) * df_conducteur_bysexe[(str(year),sexe)].values[0] * \
                                            df_proportion_permis_sexe.loc[df_proportion_permis_sexe.critere==sexe+'s'][str(year)].values[0])
df_conducteur_bysexe.head(5)

annee     2010              2015              1994              2000           \
sexe     Femme    Homme    Femme    Homme    Femme    Homme    Femme    Homme
0      5982246  6886822  6407827  7358195  2377216  2989453  2616965  3125519

annee     2005
sexe     Femme    Homme
0      2841956  3283894

In [359]:
toKeep = []
for col in df_Accident_objets.columns:
    if IS_DATE.match(col):
        if(col in annee):
            toKeep.append(col)
    else :
        toKeep.append(col)

In [360]:
df_Accident_objets_normalized_sexe = df_Accident_objets[toKeep]

In [361]:
for year,sexe in df_conducteur_bysexe.columns.values:
        df_Accident_objets_normalized_sexe.loc[(df_Accident_objets_normalized_sexe.sexe==sexe),year]\
        = df_Accident_objets_normalized_sexe[df_Accident_objets_normalized_sexe.sexe==sexe][year]*10000 / df_conducteur_bysexe.transpose().loc[(year,sexe)].values[0]

C:\Users\Clementg20\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [362]:
df_conducteur = df_Accident_objets_normalized_sexe[(df_Accident_objets_normalized_sexe.faute_index==1)\
                                           & (df_Accident_objets_normalized_sexe.voiture_index==210)\
                                            & (df_Accident_objets_normalized_sexe.sexe_index <= 2)].dropna()

In [363]:
for i in df_conducteur['1994']:
    if type(i) != float:
        print(type(i))

In [364]:
display(df_conducteur.groupby(['sexe']).sum())

,voiture_index,age_index,sexe_index,annee_permis_index,faute_index,gravite_index,1994,2000,2005,2010,2015
sexe,,,,,,,,,,,
Femme,88200.0,40320.0,840.0,43974.0,420.0,132720.0,20.242166,20.145474,17.871494,7.913416,6.506106
Homme,88200.0,40320.0,420.0,43974.0,420.0,132720.0,40.706444,38.940733,31.203809,12.921780,9.813548

In [314]:
df_proportion_permis

          critere     1994     2000     2005     2010     2015
0           Total  76.1925  79.5684  81.4970  80.8099  81.5869
1          Hommes  86.7108  88.6161  89.1752  87.8091  87.9242
2          Femmes  66.2318  71.0744  74.4214  74.4154  75.5780
3       18-24 ans  70.7393  68.7840  62.7032  58.6586  60.9546
4       25-64 ans  84.8314  87.8657  89.5716  89.3944  88.8073
5  65 ans et plus  44.2482  53.2861  61.7433  64.0817  69.2718

In [366]:
df_Accident_cantons.groupby(['canton']).sum()

,canton_index,gravite_index,ruralite_index,1992,1993,1994,1995,1996,1997,1998,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
canton,,,,,,,,,,,,,,,,,,,,,
Aargau,171.0,2844.0,99.0,1547.0,1531.0,1691.0,1576.0,1544.0,1484.0,1431.0,...,1408.0,1464.0,1345.0,1358.0,1250.0,1191.0,1215.0,1213.0,1079.0,1155.0
Appenzell Ausserrhoden,135.0,2844.0,99.0,132.0,138.0,135.0,127.0,113.0,109.0,125.0,...,126.0,118.0,123.0,124.0,106.0,85.0,91.0,78.0,86.0,94.0
Appenzell Innerrhoden,144.0,2844.0,99.0,32.0,30.0,29.0,38.0,27.0,24.0,30.0,...,43.0,33.0,35.0,44.0,20.0,27.0,28.0,30.0,28.0,33.0
Basel-Landschaft,117.0,2844.0,99.0,574.0,552.0,674.0,724.0,636.0,710.0,751.0,...,720.0,736.0,611.0,544.0,482.0,469.0,475.0,478.0,506.0,464.0
Basel-Stadt,108.0,2844.0,99.0,732.0,787.0,864.0,858.0,785.0,820.0,725.0,...,495.0,472.0,381.0,317.0,256.0,327.0,374.0,391.0,413.0,366.0
Bern / Berne,18.0,2844.0,99.0,3237.0,3176.0,3234.0,3176.0,3019.0,3058.0,3018.0,...,2732.0,2534.0,2561.0,2630.0,2596.0,2462.0,2509.0,2551.0,2465.0,2616.0
Fribourg / Freiburg,90.0,2844.0,99.0,600.0,573.0,638.0,638.0,554.0,598.0,596.0,...,612.0,615.0,631.0,605.0,525.0,543.0,550.0,541.0,550.0,539.0
Genève,225.0,2844.0,99.0,1122.0,1084.0,1125.0,1039.0,1033.0,1039.0,1167.0,...,1238.0,1142.0,1108.0,918.0,1023.0,1181.0,1300.0,1264.0,1170.0,1127.0
Glarus,72.0,2844.0,99.0,110.0,98.0,110.0,81.0,88.0,87.0,84.0,...,104.0,120.0,82.0,86.0,81.0,93.0,90.0,105.0,100.0,95.0
Graubünden / Grigioni / Grischun,162.0,2844.0,99.0,819.0,837.0,786.0,778.0,748.0,731.0,755.0,...,610.0,566.0,563.0,526.0,500.0,498.0,526.0,483.0,492.0,509.0
Jura,260.0,3161.0,111.0,224.0,247.0,197.0,218.0,212.0,192.0,213.0,...,160.0,159.0,155.0,149.0,147.0,115.0,161.0,165.0,134.0,144.0
Luzern,27.0,2844.0,99.0,1105.0,1058.0,1057.0,1079.0,1034.0,1142.0,1084.0,...,1135.0,1155.0,1095.0,1107.0,1031.0,967.0,1010.0,1013.0,855.0,979.0
Neuchâtel,216.0,2844.0,99.0,569.0,518.0,540.0,485.0,470.0,454.0,477.0,...,375.0,361.0,307.0,310.0,296.0,280.0,285.0,282.0,300.0,290.0
Nidwalden,63.0,2844.0,99.0,103.0,82.0,113.0,108.0,113.0,83.0,97.0,...,93.0,88.0,79.0,82.0,79.0,82.0,80.0,103.0,91.0,79.0
Obwalden,54.0,2844.0,99.0,113.0,110.0,100.0,94.0,96.0,91.0,119.0,...,89.0,110.0,88.0,83.0,80.0,58.0,63.0,66.0,101.0,97.0
Schaffhausen,126.0,2844.0,99.0,168.0,151.0,197.0,180.0,173.0,165.0,168.0,...,165.0,166.0,133.0,147.0,168.0,148.0,163.0,158.0,170.0,158.0
Schwyz,45.0,2844.0,99.0,416.0,374.0,415.0,467.0,397.0,407.0,407.0,...,366.0,348.0,358.0,328.0,315.0,292.0,271.0,298.0,297.0,298.0
Solothurn,99.0,2844.0,99.0,767.0,777.0,813.0,799.0,720.0,793.0,755.0,...,844.0,843.0,846.0,788.0,679.0,620.0,586.0,613.0,632.0,572.0
St. Gallen,153.0,2844.0,99.0,1310.0,1322.0,1349.0,1263.0,1179.0,1213.0,1274.0,...,1279.0,1331.0,1211.0,1252.0,1210.0,980.0,972.0,911.0,876.0,912.0
Thurgau,180.0,2844.0,99.0,682.0,738.0,659.0,612.0,570.0,626.0,657.0,...,682.0,637.0,656.0,666.0,616.0,609.0,632.0,598.0,566.0,614.0
Ticino,189.0,2844.0,99.0,1771.0,1723.0,1762.0,1708.0,1641.0,1625.0,1551.0,...,1256.0,1154.0,1193.0,1128.0,1050.0,954.0,869.0,904.0,724.0,784.0
Uri,36.0,2844.0,99.0,134.0,142.0,163.0,184.0,166.0,165.0,160.0,...,115.0,149.0,109.0,105.0,106.0,123.0,94.0,117.0,102.0,112.0
Valais / Wallis,207.0,2844.0,99.0,871.0,914.0,822.0,790.0,706.0,733.0,749.0,...,591.0,601.0,590.0,565.0,555.0,498.0,530.0,505.0,469.0,505.0
Vaud,198.0,2844.0,99.0,2725.0,2620.0,2670.0,2602.0,2349.0,2319.0,2422.0,...,2043.0,2032.0,1981.0,1802.0,1758.0,1782.0,1609.0,1400.0,1692.0,1646.0
Zug,81.0,2844.0,99.0,307.0,310.0,249.0,325.0,283.0,305.0,320.0,...,340.0,347.0,334.0,314.0,279.0,254.0,276.0,267.0,269.0,259.0
Zürich,9.0,2844.0,99.0,3102.0,2960.0,3135.0,3081.0,2922.0,3102.0,3097.0,...,3115.0,3225.0,3034.0,3012.0,2940.0,2835.0,3044.0,3202.0,3410.0,3352.0

In [367]:
describeDf(df_Accident_cantons)

_________________ DESCRIPTION _________________


         ATTRIBUTE: canton_index
   [ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20. 21. 22. 23. 24. 25. 26.]


         ATTRIBUTE: canton
   ['Zürich' 'Bern / Berne' 'Luzern' 'Uri' 'Schwyz' 'Obwalden' 'Nidwalden'
 'Glarus' 'Zug' 'Fribourg / Freiburg' 'Solothurn' 'Basel-Stadt'
 'Basel-Landschaft' 'Schaffhausen' 'Appenzell Ausserrhoden'
 'Appenzell Innerrhoden' 'St. Gallen' 'Graubünden / Grigioni / Grischun'
 'Aargau' 'Thurgau' 'Ticino' 'Vaud' 'Valais / Wallis' 'Neuchâtel' 'Genève'
 'Jura']


         ATTRIBUTE: gravite_index
   [315. 316. 317.]


         ATTRIBUTE: gravite
   ['Accidents avec blessés légers' 'Accidents avec blessés graves'
 'Accidents mortels']


         ATTRIBUTE: ruralite_index
   [10. 11. 12.]


         ATTRIBUTE: ruralite
   ['En localité' 'Hors localité' 'Sur autoroute']


         VALUES: ['1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']