In [78]:
FILE_NAME = 'Voitures'
ROW_TO_SKIP = 2
ID_LAST_ROW = 17499
TARGET_NAME = 'Voitures'
NB_COLS_PROCEED = 0

In [79]:
target_noms = \
{'Unnamed: 0':'canton_index',\
'Unnamed: 1':'canton',\
'Unnamed: 2':'carosserie_index',\
'Unnamed: 3':'carosserie',\
'Unnamed: 4':'carburant_index',\
'Unnamed: 5':'carburant',\
'Unnamed: 6':'cylindre_index',\
'Unnamed: 7':'cylindre',\
'Unnamed: 8':'traction_index',\
'Unnamed: 9':'traction',\
'Unnamed: 10':'boite_index',\
'Unnamed: 11':'boite'}

In [80]:
data_folder = './data/'
data_clean_folder = './data_clean/'

In [81]:
import os
import pandas as pd
import json
import folium
import matplotlib.pyplot as plt
import numpy as np
import re
import math
import numpy as np
from numpy import isnan

In [82]:
# Functions
def propagationRow(df, feature,verbose=10000):
    for i in range(len(df[feature])):
        if i == 0:
            current = df[feature][i]
        else :
            try:
                if (isnan(float(df[feature][i]))):
                    df.loc[df.index == i, feature] = current
                else :
                    current = df[feature][i]
            except:
                current = df[feature][i]
            if(i%verbose == 0):
                print("[{}] - Rows {} to {} done".format(feature,i-verbose,i))

def get_X_first_columns(df,x):
    target = []
    if (x!=0):
        reg = re.compile("Unnamed: {}".format(x-1))
        for i in df.columns:
            target.append(i)
        if reg.match(i):
            return target
    else:
        reg = re.compile("Unnamed".format(x-1))
        for i in df.columns:
            if reg.match(i):
                target.append(i)
            else:
                return target
    
    

def completeDf(df, nb_cols):
    for col in get_X_first_columns(df,nb_cols):
        propagationRow(df,col,verbose=10000)

In [83]:
df = pd.read_excel(data_folder + FILE_NAME + '.xlsx',skiprows=ROW_TO_SKIP,nrows=ID_LAST_ROW-ROW_TO_SKIP)
df.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,1.0,Zürich,11.0,Limousine,100.0,Essence,101399.0,jusqu'à 1399 cm3,1.0,Traction avant,...,9465.0,9462.0,9364.0,9276.0,9375.0,9315.0,9448.0,9474.0,9881.0,10412.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,86546.0,87274.0,91180.0,96187.0,100565.0,105378.0,109020.0,113222.0,115168.0,116336.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1044.0,1178.0,1328.0,1513.0,1799.0,1986.0,2119.0,2277.0,2437.0,2506.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Traction arrière,...,35.0,28.0,33.0,51.0,67.0,73.0,85.0,97.0,105.0,102.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6771.0,6815.0,7057.0,7180.0,7153.0,7109.0,7062.0,7257.0,7420.0,7637.0

In [84]:
completeDf(df, NB_COLS_PROCEED)
df.head(5)

[Unnamed: 0] - Rows 0 to 10000 done
[Unnamed: 1] - Rows 0 to 10000 done
[Unnamed: 2] - Rows 0 to 10000 done
[Unnamed: 3] - Rows 0 to 10000 done
[Unnamed: 4] - Rows 0 to 10000 done
[Unnamed: 5] - Rows 0 to 10000 done
[Unnamed: 6] - Rows 0 to 10000 done
[Unnamed: 7] - Rows 0 to 10000 done
[Unnamed: 8] - Rows 0 to 10000 done
[Unnamed: 9] - Rows 0 to 10000 done
[Unnamed: 10] - Rows 0 to 10000 done
[Unnamed: 11] - Rows 0 to 10000 done

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,1.0,Zürich,11.0,Limousine,100.0,Essence,101399.0,jusqu'à 1399 cm3,1.0,Traction avant,...,9465.0,9462.0,9364.0,9276.0,9375.0,9315.0,9448.0,9474.0,9881.0,10412.0
1,1.0,Zürich,11.0,Limousine,100.0,Essence,101399.0,jusqu'à 1399 cm3,1.0,Traction avant,...,86546.0,87274.0,91180.0,96187.0,100565.0,105378.0,109020.0,113222.0,115168.0,116336.0
2,1.0,Zürich,11.0,Limousine,100.0,Essence,101399.0,jusqu'à 1399 cm3,1.0,Traction avant,...,1044.0,1178.0,1328.0,1513.0,1799.0,1986.0,2119.0,2277.0,2437.0,2506.0
3,1.0,Zürich,11.0,Limousine,100.0,Essence,101399.0,jusqu'à 1399 cm3,2.0,Traction arrière,...,35.0,28.0,33.0,51.0,67.0,73.0,85.0,97.0,105.0,102.0
4,1.0,Zürich,11.0,Limousine,100.0,Essence,101399.0,jusqu'à 1399 cm3,2.0,Traction arrière,...,6771.0,6815.0,7057.0,7180.0,7153.0,7109.0,7062.0,7257.0,7420.0,7637.0

In [85]:
df = df.rename(index=str,columns=target_noms)
df.head(5)

,canton_index,canton,carosserie_index,carosserie,carburant_index,carburant,cylindre_index,cylindre,traction_index,traction,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,1.0,Zürich,11.0,Limousine,100.0,Essence,101399.0,jusqu'à 1399 cm3,1.0,Traction avant,...,9465.0,9462.0,9364.0,9276.0,9375.0,9315.0,9448.0,9474.0,9881.0,10412.0
1,1.0,Zürich,11.0,Limousine,100.0,Essence,101399.0,jusqu'à 1399 cm3,1.0,Traction avant,...,86546.0,87274.0,91180.0,96187.0,100565.0,105378.0,109020.0,113222.0,115168.0,116336.0
2,1.0,Zürich,11.0,Limousine,100.0,Essence,101399.0,jusqu'à 1399 cm3,1.0,Traction avant,...,1044.0,1178.0,1328.0,1513.0,1799.0,1986.0,2119.0,2277.0,2437.0,2506.0
3,1.0,Zürich,11.0,Limousine,100.0,Essence,101399.0,jusqu'à 1399 cm3,2.0,Traction arrière,...,35.0,28.0,33.0,51.0,67.0,73.0,85.0,97.0,105.0,102.0
4,1.0,Zürich,11.0,Limousine,100.0,Essence,101399.0,jusqu'à 1399 cm3,2.0,Traction arrière,...,6771.0,6815.0,7057.0,7180.0,7153.0,7109.0,7062.0,7257.0,7420.0,7637.0

In [86]:
df.to_csv(data_clean_folder+TARGET_NAME+".csv")

In [24]:
df = pd.read_excel(data_folder+"togroup/" + "merger" + '.xlsx',skiprows=ROW_TO_SKIP,nrows=ID_LAST_ROW-ROW_TO_SKIP)

In [7]:
for i in range(1,5):
    df_local = pd.read_excel(data_folder+"togroup/" + "merger ({})".format(i) + '.xlsx',skiprows=ROW_TO_SKIP,nrows=ID_LAST_ROW-ROW_TO_SKIP)
    reg = re.compile("[0-9]{4}")
    for elem in df_local.columns.values:
        if reg.match(elem):
            df[elem] = df_local[elem]

In [8]:
df.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,210.0,Voiture de tourisme,0.0,Jusqu'à 4 ans,1.0,Homme,0.0,0 an,0.0,Objet sans faute ni influence,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Objet avec faute(s) ou influence(s),...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
df.columns.values

array(['Critere', 1994, 2000, 2005, 2010, 2015], dtype=object)

In [30]:
df = pd.read_excel(data_folder + 'Proportion_permis' + '.xls',skiprows=2)

In [31]:
df = df.rename(columns={'Unnamed: 0': 'critere'})

In [34]:
df = df[['critere',1994,2000,2005,2010,2015]]

In [35]:
df = df.dropna().drop([2,5])

In [36]:
df

          critere     1994     2000     2005     2010     2015
1           Total  76.1925  79.5684   81.497  80.8099  81.5869
3          Hommes  86.7108  88.6161  89.1752  87.8091  87.9242
4          Femmes  66.2318  71.0744  74.4214  74.4154   75.578
6       18-24 ans  70.7393   68.784  62.7032  58.6586  60.9546
7       25-64 ans  84.8314  87.8657  89.5716  89.3944  88.8073
8  65 ans et plus  44.2482  53.2861  61.7433  64.0817  69.2718

In [71]:
FILE_NAME = 'Recettes_routes.xlsx'
ROW_TO_SKIP = 6
ID_LAST_ROW = None
TARGET_NAME = 'Recettes_routes'
NB_COLS_PROCEED = 0

IS_UNNAMED = re.compile("Unnamed")


target_noms = \
{'Unnamed: 0':'canton',\
'Unnamed: 1':'Total',\
'Total':'Total contributions',\
'Total.1':'Total taxes',\
'Adminis-':'Administration Prevention'}

In [72]:
xls = pd.ExcelFile(data_folder+FILE_NAME)
s1 = xls.sheet_names
sheets = []
for s in s1:
    if int(s)>1991:
        sheets.append(s)
print (sheets)

['2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008', '2007', '2006', '2005', '2004', '2003', '2002', '2001', '2000', '1999', '1998', '1997', '1996', '1995', '1994']

In [74]:
df = pd.read_excel(data_folder+FILE_NAME,skiprows=ROW_TO_SKIP,sheet_name ='2010',usecols='A:C,H').rename(columns=target_noms).dropna().reset_index()
for col in df.columns:
        if IS_UNNAMED.match(col):
            df = df.drop(columns=[col])
df

    index                canton      Total  Total contributions  Total taxes
0       8                 Total  4367799.0            2160013.0    2207785.0
1      10      Région lémanique   854719.0             454217.0     400503.0
2      11                  Vaud   320533.0              87545.0     232988.0
3      12                Valais   394040.0             335517.0      58523.0
4      13                Genève   140146.0              31155.0     108992.0
5      15     Espace Mittelland  1244009.0             676618.0     567391.0
6      16                 Berne   687044.0             336073.0     350971.0
7      17              Fribourg   152895.0              71684.0      81211.0
8      18               Soleure   121118.0              55047.0      66072.0
9      19             Neuchâtel    99641.0              57157.0      42483.0
10     20                  Jura   183311.0             156657.0      26654.0
11     22  Suisse du Nord-Ouest   481295.0             182437.0     298858.0
12     23            Bâle-Ville    80661.0              23824.0      56837.0
13     24         Bâle-Campagne   157043.0              52041.0     105002.0
14     25               Argovie   243591.0             106572.0     137019.0
15     27                Zurich   513002.0             189696.0     323307.0
16     29      Suisse orientale   664593.0             360026.0     304565.0
17     30                Glaris    21599.0              10132.0      11467.0
18     31           Schaffhouse    24448.0              10337.0      14110.0
19     32    Appenzell Rh.-Ext.    38949.0              20536.0      18412.0
20     33    Appenzell Rh.-Int.    10901.0               5296.0       5605.0
21     34            Saint-Gall   193251.0              57194.0     136057.0
22     35               Grisons   291841.0             221564.0      70277.0
23     36             Thurgovie    83604.0              34967.0      48637.0
24     38       Suisse centrale   395042.0             203525.0     191517.0
25     39               Lucerne   138133.0              46604.0      91530.0
26     40                   Uri    48142.0              39276.0       8866.0
27     41               Schwytz    69067.0              23958.0      45109.0
28     42                Obwald    54006.0              44964.0       9042.0
29     43               Nidwald    30448.0              21058.0       9390.0
30     44                  Zoug    55246.0              27665.0      27580.0
31     46                Tessin   215139.0              93496.0     121643.0

In [75]:
merge = pd.DataFrame()
for sheet in sheets:
    df = pd.read_excel(data_folder+FILE_NAME,skiprows=ROW_TO_SKIP,sheet_name =sheet,usecols='A:C,H')
    df = df.rename(columns=target_noms)
    for col in df.columns:
        if IS_UNNAMED.match(col):
            df = df.drop(columns=[col])            
    df = df.dropna()
    df['annee'] = sheet
    merge = merge.append(df)
merge = merge.replace('...',-1)   
merge = merge.groupby(["annee","canton"]).sum()

In [76]:
merge

                                Total  Total contributions  Total taxes
annee canton
1994  Appenzell Rh.-Ext.      21915.0              11258.0      10658.0
      Appenzell Rh.-Int.       5811.0               2883.0       2928.0
      Argovie                264502.0             174185.0      90317.0
      Berne                  525008.0             301141.0     223868.0
      Bâle-Campagne          111611.0              55769.0      55842.0
      Bâle-Ville              87268.0              48897.0      38371.0
      Espace Mittelland     1294462.0             925051.0     369412.0
      Fribourg               194678.0             141591.0      53087.0
      Genève                 178756.0             116452.0      62304.0
      Glaris                  18868.0              10988.0       7880.0
      Grisons                248005.0             204814.0      43191.0
      Jura                   253789.0             236635.0      17154.0
      Lucerne                128856.0              77979.0      50876.0
      Neuchâtel              205650.0             176443.0      29207.0
      Nidwald                 23466.0              17302.0       6165.0
      Obwald                  67087.0              62815.0       4272.0
      Région lémanique       927808.0             690569.0     237240.0
      Saint-Gall             177411.0              87518.0      89892.0
      Schaffhouse             58600.0              48999.0       9601.0
      Schwytz                 46431.0              23708.0      22723.0
      Soleure                115337.0              69241.0      46096.0
      Suisse centrale        373606.0             267113.0     106493.0
      Suisse du Nord-Ouest   463381.0             278851.0     184530.0
      Suisse orientale       598101.0             401849.0     196252.0
      Tessin                 273811.0             198833.0      74979.0
      Thurgovie               67491.0              35389.0      32102.0
      Total                 4314421.0            2913294.0    1401127.0
      Uri                     82908.0              77545.0       5363.0
      Valais                 384400.0             348590.0      35810.0
      Vaud                   364652.0             225527.0     139126.0
...                               ...                  ...          ...
2015  Argovie                227371.0              75215.0     152156.0
      Berne                  611322.0             342943.0     268379.0
      Bâle-Campagne          150908.0              36073.0     114834.0
      Bâle-Ville              79313.0              15799.0      63514.0
      Espace Mittelland     1058663.0             536862.0     521802.0
      Fribourg               136189.0              34038.0     102151.0
      Genève                 165749.0              28821.0     136928.0
      Glaris                  22769.0              10641.0      12128.0
      Grisons                274317.0             194151.0      80166.0
      Jura                   120594.0              90469.0      30125.0
      Lucerne                145753.0              42153.0     103600.0
      Neuchâtel               88271.0              40505.0      47766.0
      Nidwald                 19175.0               9287.0       9888.0
      Obwald                  17372.0               7533.0       9839.0
      Région lémanique       924202.0             460053.0     464149.0
      Saint-Gall             226887.0              57496.0     169391.0
      Schaffhouse             27415.0              11663.0      15752.0
      Schwytz                 95835.0              40201.0      55633.0
      Soleure                102288.0              28907.0      73381.0
      Suisse centrale        366565.0             144725.0     221840.0
      Suisse du Nord-Ouest   457591.0             127087.0     330504.0
      Suisse orientale       700266.0             338545.0     361722.0
      Tessin                 215211.0              67638.0     147572.0
      Thurgovie               93368.0              37214.0      56155.0
      Total                 4170727.0            1779439.0    2391287.0
      Uri                     43980.0              33914.0      10066.0
      Valais                 434544.0             359844.0      74700.0
      Vaud                   323909.0              71388.0     252521.0
      Zoug                    44450.0              11637.0      32813.0
      Zurich                 448228.0             104529.0     343699.0

[704 rows x 3 columns]

In [77]:
merge.to_csv(data_clean_folder+TARGET_NAME+".csv")